Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-proto/src/proto/generated/**'

replace executor constructor by type state builder
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

refactor(conductor): replace executor constructor by type state builder (#583)
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

fix tests
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

move back to rlp
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

slight fixes
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/data_availability/sync.rs
Due: conductor

clippy
  crates/astria-conductor/src/data_availability/mod.rs
Due: conductor

block height should be string in yaml to avoid scientific notation
  crates/astria-cli/src/types.rs
Due: cli

Make sequencer report trying to connect to sequencer
  crates/astria-sequencer-relayer/src/relayer.rs
Due: sequencer-relayer

clippy
  crates/astria-conductor/src/block_verifier.rs
Due: conductor

Implement a RFC 6962 compliant merkle tree with a flat memory representation, rewrite all crates in terms of it.
  Cargo.lock
  Cargo.toml
  crates/astria-celestia-client/Cargo.toml
  crates/astria-celestia-client/src/blob_space.rs
  crates/astria-celestia-client/src/client.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-merkle/Cargo.toml
  crates/astria-merkle/src/audit.rs
  crates/astria-merkle/src/lib.rs
  crates/astria-merkle/src/tests.rs
  crates/astria-merkle/tests/transparency-dev/inclusion.rs
  crates/astria-merkle/tests/transparency-dev/main.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-types/Cargo.toml
  crates/astria-sequencer-types/src/cometbft.rs
  crates/astria-sequencer-types/src/lib.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
  crates/astria-sequencer-types/src/test_utils.rs
  crates/astria-sequencer-validation/Cargo.toml
  crates/astria-sequencer-validation/src/lib.rs
  crates/astria-sequencer-validation/src/proof.rs
  crates/astria-sequencer-validation/src/utils.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/proposal/commitment.rs
Due: conductor, sequencer, sequencer-relayer, celestia-client, common

update spec to mention merkle::Proof
  specs/data-flow-and-verification.md
Due: none

feat: add an RFC 6962 compliant Merkle tree with flat memory representation (#554)
  Cargo.lock
  Cargo.toml
  crates/astria-celestia-client/Cargo.toml
  crates/astria-celestia-client/src/blob_space.rs
  crates/astria-celestia-client/src/client.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-merkle/Cargo.toml
  crates/astria-merkle/src/audit.rs
  crates/astria-merkle/src/lib.rs
  crates/astria-merkle/src/tests.rs
  crates/astria-merkle/tests/transparency-dev/inclusion.rs
  crates/astria-merkle/tests/transparency-dev/main.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-types/Cargo.toml
  crates/astria-sequencer-types/src/cometbft.rs
  crates/astria-sequencer-types/src/lib.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
  crates/astria-sequencer-types/src/test_utils.rs
  crates/astria-sequencer-validation/Cargo.toml
  crates/astria-sequencer-validation/src/lib.rs
  crates/astria-sequencer-validation/src/proof.rs
  crates/astria-sequencer-validation/src/utils.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/proposal/commitment.rs
  specs/data-flow-and-verification.md
Due: conductor, sequencer, sequencer-relayer, celestia-client, common

remove proposer check from block verifier
  crates/astria-conductor/src/block_verifier.rs
Due: conductor

remove stale comment
  crates/astria-conductor/src/block_verifier.rs
Due: conductor

retrieve correct validator set for commit verification
  crates/astria-conductor/src/block_verifier.rs
Due: conductor

fix tests
  crates/astria-conductor/src/block_verifier.rs
Due: conductor

update instrument name
  crates/astria-sequencer-relayer/src/relayer.rs
Due: sequencer-relayer

Don't set the fee
  crates/astria-sequencer-relayer/src/relayer.rs
Due: sequencer-relayer

update asset_ids in tx types to be non optional
  crates/astria-proto/proto/astria/sequencer/v1alpha1/transaction.proto
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/asset/mod.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer, common

address comments, fix tests
  Cargo.lock
  crates/astria-proto/proto/astria/sequencer/v1alpha1/asset.proto
  crates/astria-proto/src/native/sequencer/asset.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/asset/mod.rs
  crates/astria-sequencer/src/mint/action.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
Due: sequencer, common

finish addressing comments and cleanup nria usage
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-proto/src/native/sequencer/asset.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-types/src/test_utils.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/state_ext.rs
Due: composer, sequencer, sequencer-relayer, common

lint
  crates/astria-proto/src/native/sequencer/asset.rs
Due: common

address comments
  Cargo.lock
  Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/sync.rs
  crates/astria-optimism/Cargo.toml
  crates/astria-optimism/README.md
  crates/astria-optimism/src/contract.rs
  crates/astria-optimism/src/deposit.rs
  crates/astria-test-utils/Cargo.toml
Due: conductor, composer

format toml
  crates/astria-conductor/Cargo.toml
Due: conductor

lint md
  crates/astria-optimism/README.md
Due: none

logging print updates
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/data_availability/sync.rs
Due: conductor

feat(conductor): implement derivation and execution of optimism `DepositTransaction`s (#535)
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/sync.rs
  crates/astria-optimism/Cargo.toml
  crates/astria-optimism/OptimismPortal.abi
  crates/astria-optimism/README.md
  crates/astria-optimism/contracts/MockOptimismPortal.sol
  crates/astria-optimism/src/contract.rs
  crates/astria-optimism/src/deposit.rs
  crates/astria-optimism/src/lib.rs
  crates/astria-optimism/src/test_utils.rs
  crates/astria-test-utils/Cargo.toml
Due: conductor, composer

remove unused funcs
  crates/astria-cli/src/types.rs
Due: cli

fix(cli): block height should be string in yaml to avoid scientific notation (#585)
  crates/astria-cli/src/types.rs
Due: cli

remove some commented code
  crates/astria-conductor/src/conductor.rs
Due: conductor

removed old comment
  crates/astria-conductor/src/data_availability/mod.rs
Due: conductor

remove configuration option
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
Due: sequencer-relayer

add a useful log
  crates/astria-sequencer-relayer/src/relayer.rs
Due: sequencer-relayer

fix test
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Due: sequencer-relayer

cleanup
  crates/astria-sequencer-relayer/src/relayer.rs
Due: sequencer-relayer

fix(relayer): don't use fixed fee pricing (#590)
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Due: sequencer-relayer

Cut new releases of conductor + relayer
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
Due: conductor, sequencer-relayer

also release sequencer
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
Due: sequencer

chore(conductor, relayer, sequencer): release 0.10.0 conductor, 0.8.0 relayer, and 0.6.0 sequencer (#591)
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, sequencer, sequencer-relayer

fix(relayer): update wait_for_sequencer log to be correct (#586)
  crates/astria-sequencer-relayer/src/relayer.rs
Due: sequencer-relayer
