Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-proto/src/proto/generated/**'

rm unused trait
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

rename field filtered_rollup_transactions -> rollup_transactions
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
Due: none

rename rollup_ids to all_rollup_ids on FilteredSequencerBlock
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
Due: none

remove unnecessary clone from check
  crates/astria-core/src/sequencer/v1alpha1/block.rs
Due: none

remove unnecessary clone form tree construction
  crates/astria-core/src/sequencer/v1alpha1/block.rs
Due: none

remove all error variants from public interface
  crates/astria-core/src/sequencer/v1alpha1/block.rs
Due: none

check all proofs when constructing filtered sequencer block; use audit API to test proofs
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
Due: none

make clippy happy
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
Due: sequencer

move block tests into separate file
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/block/tests.rs
Due: none

make core unit tests pass without feature flag
  crates/astria-core/Cargo.toml
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
Due: none

add caveats to sequencer grpc impl
  crates/astria-sequencer/src/grpc/sequencer.rs
Due: sequencer

rename FilteredBlockRequest -> GetFilteredBlockRequest
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/service.proto
Due: sequencer

fmt proto
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
Due: none

feat(proto): add sequencer service proto (#701)
  .gitattributes
  .github/labeler.yml
  Cargo.lock
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/block/tests.rs
  crates/astria-core/src/sequencer/v1alpha1/celestia.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/test_utils.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/sequencer.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/service.proto
  proto/sequencerapis/buf.yaml
Due: conductor, sequencer

feat(relayer)!: provide address, not port, to serve API requests
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/api.rs
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

feat(conductor): assert host fulfills execution API contract (#772)
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

fix(relayer): add metrics (#771)
  crates/astria-sequencer-relayer/src/metrics_init.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/write.rs
Due: sequencer-relayer

feat(conductor)!: provide explicit http, ws celestia RPC URLs
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
Due: conductor

feat(relayer)!: provide address, not port, to serve API requests (#776)
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/api.rs
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

chore(conductor): remove all optimism functionality
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-optimism/Cargo.toml
  crates/astria-optimism/OptimismPortal.abi
  crates/astria-optimism/README.md
  crates/astria-optimism/contracts/MockOptimismPortal.sol
  crates/astria-optimism/src/contract.rs
  crates/astria-optimism/src/deposit.rs
  crates/astria-optimism/src/lib.rs
  crates/astria-optimism/src/test_utils.rs
Due: conductor

chore(conductor)!: remove all optimism functionality (#775)
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-optimism/Cargo.toml
  crates/astria-optimism/OptimismPortal.abi
  crates/astria-optimism/README.md
  crates/astria-optimism/contracts/MockOptimismPortal.sol
  crates/astria-optimism/src/contract.rs
  crates/astria-optimism/src/deposit.rs
  crates/astria-optimism/src/lib.rs
  crates/astria-optimism/src/test_utils.rs
Due: conductor

Revert "chore(conductor)!: remove all optimism functionality (#775)"
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-optimism/Cargo.toml
  crates/astria-optimism/OptimismPortal.abi
  crates/astria-optimism/README.md
  crates/astria-optimism/contracts/MockOptimismPortal.sol
  crates/astria-optimism/src/contract.rs
  crates/astria-optimism/src/deposit.rs
  crates/astria-optimism/src/lib.rs
  crates/astria-optimism/src/test_utils.rs
Due: conductor

chore: update penumbra versions + security fixes
  Cargo.lock
  Cargo.toml
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer/Cargo.toml
Due: sequencer

clippy
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
Due: none

chore: update dependencies (#782)
  Cargo.lock
  Cargo.toml
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer/Cargo.toml
Due: sequencer

clippy
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
Due: none

clippy
  crates/astria-sequencer/src/app.rs
Due: sequencer

state ext impl
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/lib.rs
Due: sequencer

feat(conductor)!: provide explicit HTTP, Websocket Celestia RPC URLs (#780)
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
Due: conductor

readd file
  proto/sequencerapis/astria/sequencer/v1alpha1/data.proto
Due: none

delete unused proto file
  proto/sequencerapis/astria/sequencer/v1alpha1/data.proto
Due: none

compile protos
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
Due: none

feat(sequencer)!: implement bridge accounts and related actions (#768)
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/transaction.proto
Due: sequencer

build and store sequencer block during app execution
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app.rs
Due: sequencer

feat(relayer): ensure blobs are submitted to Celestia in sequencer-height order
  crates/astria-sequencer-relayer/src/relayer/write.rs
Due: sequencer-relayer

feat(relayer)!: store (and restart at) submission state
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/state.rs
  crates/astria-sequencer-relayer/src/relayer/write.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

add tests, ensure consistency
  crates/astria-sequencer-relayer/src/relayer/submission.rs
Due: sequencer-relayer

typo
  crates/astria-sequencer-relayer/src/relayer/read.rs
Due: sequencer-relayer
