Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

testing
  .github/workflows/release.yml
Due: none

minors
  .github/workflows/reusable-docker-build.yml
  cr.yaml
Due: none

give up on seperate release repo stuff
  .github/workflows/release.yml
Due: none

fix(sequencer): fix escrow channel check when receiving non-refund ics20 packet (#851)
  crates/astria-core/src/sequencer/v1/asset.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

add clap long args and test
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

fix rollup ids commitment for deposits
  crates/astria-sequencer/src/proposal/commitment.rs
Due: sequencer

add display for deposits in end_block
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

clippy
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

improve display impl
  crates/astria-conductor/src/sequencer/block_stream.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-sequencer/src/app.rs
Due: conductor, sequencer

refactor: use Arc<Self> target in generated gRPC service traits (#853)
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/src/generated/astria.execution.v1alpha1.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.sequencer.v1.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  tools/protobuf-compiler/src/main.rs
Due: conductor, sequencer, sequencer-relayer

sort maps before snapshot testing
  crates/astria-composer/src/executor/bundle_factory/snapshots/astria_composer__executor__bundle_factory__tests__sized_bundle_tests__snapshots.snap
  crates/astria-composer/src/executor/bundle_factory/tests.rs
Due: composer

fix(composer): Make snapshot testing in composer deterministic (#865)
  crates/astria-composer/src/executor/bundle_factory/snapshots/astria_composer__executor__bundle_factory__tests__sized_bundle_tests__snapshots.snap
  crates/astria-composer/src/executor/bundle_factory/tests.rs
Due: composer

feat: derive JSON serialization for some protobuf messages
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-core/Cargo.toml
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.execution.v1alpha1.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.serde.rs
  crates/astria-core/src/generated/astria.primitive.v1.serde.rs
  crates/astria-core/src/generated/astria.sequencer.v1.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/serde.rs
  tools/protobuf-compiler/Cargo.lock
  tools/protobuf-compiler/Cargo.toml
  tools/protobuf-compiler/src/main.rs
Due: conductor

serialize rollups as base64
  Cargo.lock
  crates/astria-core/Cargo.toml
  crates/astria-core/src/sequencer/v1/mod.rs
  crates/astria-core/src/serde.rs
Due: none

allow clippy on generated code
  crates/astria-core/src/generated/mod.rs
Due: none

update insta snap
  crates/astria-conductor/src/sequencer/snapshots/astria_conductor__sequencer__reporting__tests__snapshots-2.snap
Due: conductor

update conductor, tests to work with pbjson
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/snapshots/astria_conductor__sequencer__reporting__tests__snapshots.snap
Due: conductor

update insta snaps for composer
  crates/astria-composer/src/executor/bundle_factory/snapshots/astria_composer__executor__bundle_factory__tests__sized_bundle_tests__snapshots.snap
Due: composer

feat(core): add serialization to execution v1alpha2 compliant with protobuf json mapping (#857)
  Cargo.lock
  Cargo.toml
  crates/astria-composer/src/executor/bundle_factory/snapshots/astria_composer__executor__bundle_factory__tests__sized_bundle_tests__snapshots.snap
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/snapshots/astria_conductor__sequencer__reporting__tests__snapshots-2.snap
  crates/astria-conductor/src/sequencer/snapshots/astria_conductor__sequencer__reporting__tests__snapshots.snap
  crates/astria-core/Cargo.toml
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.execution.v1alpha1.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.serde.rs
  crates/astria-core/src/generated/astria.primitive.v1.serde.rs
  crates/astria-core/src/generated/astria.sequencer.v1.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/sequencer/v1/mod.rs
  crates/astria-core/src/serde.rs
  tools/protobuf-compiler/Cargo.lock
  tools/protobuf-compiler/Cargo.toml
  tools/protobuf-compiler/src/main.rs
Due: conductor, composer

refactor(conductor): remove websocket subscription to Celestia heights in favor of periodic polling
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/latest_height_stream.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
Due: conductor

update chart to reflect added/removed conductor env vars
  charts/evm-rollup/templates/configmap.yaml
Due: none

bump evm-rollup to 0.10.3
  charts/evm-rollup/Chart.yaml
Due: none

sort before generating root
  crates/astria-sequencer/src/proposal/commitment.rs
Due: sequencer

remove conductor changes
  crates/astria-conductor/src/sequencer/block_stream.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

clarify conductor log
  crates/astria-conductor/src/sequencer/block_stream.rs
Due: conductor

fixes to justfile
  justfile
Due: none

formatting(sequencer): addressed review comments
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

test(sequencer): add unit tests for src/state_ext file
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

nit: fix clippy warnings
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

test(sequencer): add unit tests for src/state_ext file (#858)
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

add check tx stateful balance check
  crates/astria-core/src/sequencer/v1/abci.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

unit tests
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

test(sequencer): add unit tests for src/accounts/state_ext
  crates/astria-sequencer/src/accounts/state_ext.rs
Due: sequencer

fix: justfile updates to build dependencies (#867)
  justfile
Due: none

test(sequencer): add unit tests for src/asset/state_ext
  crates/astria-sequencer/src/asset/state_ext.rs
Due: sequencer

add gRPC mocking library
  Cargo.lock
  Cargo.toml
  crates/astria-grpc-mock-test-codegen/Cargo.toml
  crates/astria-grpc-mock-test-codegen/src/main.rs
  crates/astria-grpc-mock-test/Cargo.toml
  crates/astria-grpc-mock-test/proto/health.proto
  crates/astria-grpc-mock-test/src/generated/grpc.health.v1.rs
  crates/astria-grpc-mock-test/src/generated/grpc.health.v1.serde.rs
  crates/astria-grpc-mock-test/src/generated/grpc_health_v1.bin
  crates/astria-grpc-mock-test/src/lib.rs
  crates/astria-grpc-mock-test/tests/health/main.rs
  crates/astria-grpc-mock/Cargo.toml
  crates/astria-grpc-mock/src/lib.rs
  crates/astria-grpc-mock/src/matcher.rs
  crates/astria-grpc-mock/src/mock.rs
  crates/astria-grpc-mock/src/mock_server.rs
  crates/astria-grpc-mock/src/mock_set.rs
  crates/astria-grpc-mock/src/mounted_mock.rs
  crates/astria-grpc-mock/src/response.rs
  crates/astria-grpc-mock/src/verification.rs
Due: none

test(sequencer): add unit tests for src/authority/state_ext
  crates/astria-sequencer/src/authority/state_ext.rs
Due: sequencer

fix smoke test docs
  charts/README.md
Due: none

fix(conductor): clarify conductor log (#868)
  crates/astria-conductor/src/sequencer/block_stream.rs
Due: conductor

fix(sequencer): fix rollup ids commitment for deposits (#863)
  crates/astria-sequencer/src/proposal/commitment.rs
Due: sequencer

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-proto/src/proto/generated/**
  composer: any of: crates/astria-composer, but not: crates/astria-proto/src/proto/generated/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-proto/src/proto/generated/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-proto/src/proto/generated/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-proto/src/proto/generated/**
  celestia-client: any of: crates/astria-celestia-client/**, but not: crates/astria-proto/src/proto/generated/**
  common: any of: crates/astria-proto/src/native/**, crates/astria-sequencer-types/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-proto/src/proto/generated/**
