Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-proto/src/proto/generated/**'

fix(cometbft): support for secrets from secret manager
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/config.toml
  charts/sequencer/files/scripts/init-cometbft.sh
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/templates/secretproviderclass.yaml
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
  dev/values/validators/single.yml
Due: none

create sequencerblockapis v1alpha1
  buf.work.yaml
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/block.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/celestia.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/merkle.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/service.proto
  proto/sequencerblockapis/buf.lock
  proto/sequencerblockapis/buf.yaml
Due: none

test(conductor): soft-only mode
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/main.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mock_grpc.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/helpers/telemetry.rs
  crates/astria-conductor/tests/blackbox/main.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Due: conductor

lint protos
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/block.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/celestia.proto
  proto/sequencerblockapis/buf.yaml
Due: none

move begin_block ibc stuff to end_block
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

clippy
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

update release workflow
  .github/workflows/release.yml
  proto/sequencerblockapis/buf.yaml
Due: none

add log
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

fix
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

add astria/astria dep
  .github/workflows/release.yml
  proto/sequencerblockapis/buf.lock
  proto/sequencerblockapis/buf.yaml
Due: none

rename full method
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-composer/src/executor/mod.rs
Due: composer

ci: smoke test fix
  .github/workflows/docker-build.yml
Due: none

ci: smoke test fix (#941)
  .github/workflows/docker-build.yml
Due: none

fix(sequencer): set revision number from chain id in `init_chain` (#935)
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

refactor(sequnecer): addressed commets from @noot
  crates/astria-sequencer/src/app.rs
Due: sequencer

fix(sequecer): is_proposer check now considers address
  crates/astria-sequencer/src/app.rs
Due: sequencer

nit(sequencer): spelling error
  crates/astria-sequencer/src/app.rs
Due: sequencer

feat(cli): add authority commands
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

refactor(sequencer): include suggestion from @noot
  crates/astria-cli/src/cli/sequencer.rs
Due: cli

fix(sequecer): is_proposer check now considers proposer's address (#936)
  crates/astria-sequencer/src/app.rs
Due: sequencer

feat(cli): add authority commands (#933)
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

address comments, serde for sequencerblock types
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/block.proto
  tools/protobuf-compiler/src/main.rs
Due: none

feat(proto): create sequencerblockapis v1alpha1 (#939)
  .github/workflows/release.yml
  buf.work.yaml
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/block.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/celestia.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/merkle.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/service.proto
  proto/sequencerblockapis/buf.lock
  proto/sequencerblockapis/buf.yaml
  tools/protobuf-compiler/src/main.rs
Due: none

merge
  crates/astria-celestia-client/src/submission.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/block_stream.rs
  crates/astria-conductor/src/sequencer/client.rs
  crates/astria-conductor/src/sequencer/reporting.rs
  crates/astria-core/src/generated/astria.sequencer.v2.rs
  crates/astria-core/src/generated/astria.sequencer.v2.serde.rs
  crates/astria-core/src/generated/astria.sequencer.v2alpha1.rs
  crates/astria-core/src/generated/astria.sequencer.v2alpha1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/lib.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  tools/protobuf-compiler/src/main.rs
Due: conductor, composer, sequencer, sequencer-relayer, celestia-client, common

cleanup
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

cleanup
  proto/sequencerapis/astria/sequencer/v2alpha1/block.proto
  proto/sequencerapis/astria/sequencer/v2alpha1/celestia.proto
  proto/sequencerapis/astria/sequencer/v2alpha1/service.proto
Due: none

remove empty file
  crates/astria-conductor/tests/blackbox/helpers/telemetry.rs
Due: conductor

move protobuf trait into sequencer/sequencerblock
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/lib.rs
  crates/astria-core/src/sequencer/mod.rs
  crates/astria-core/src/sequencer/v1/block/mod.rs
  crates/astria-core/src/sequencer/v1/celestia.rs
  crates/astria-core/src/sequencer/v1/mod.rs
  crates/astria-core/src/sequencer/v1/transaction/action.rs
  crates/astria-core/src/sequencerblock/mod.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-core/src/sequencerblock/v1alpha1/celestia.rs
  crates/astria-core/src/sequencerblock/v1alpha1/mod.rs
  crates/astria-sequencer/src/api_state_ext.rs
Due: conductor, sequencer

clippy
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-core/src/sequencerblock/v1alpha1/celestia.rs
Due: none

undo getting sequencer namespace from latest commit (instead of block)
  crates/astria-conductor/src/celestia/mod.rs
Due: conductor

test fix
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

typos, commented out code
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
Due: conductor

fix tests
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Due: sequencer-relayer

clippy
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
Due: conductor, sequencer

fix(ci): less flaky smoke test
  .github/workflows/docker-build.yml
  justfile
Due: none

fix(charts): cometbft support for secrets (#938)
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/config.toml
  charts/sequencer/files/scripts/init-cometbft.sh
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/templates/secretproviderclass.yaml
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
  dev/values/validators/single.yml
Due: none

update app to use staged write batch
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

cleanup
  crates/astria-core/src/generated/astria.sequencer.v2.rs
  crates/astria-core/src/generated/astria.sequencer.v2.serde.rs
  crates/astria-core/src/generated/astria.sequencer.v2alpha1.rs
  crates/astria-core/src/generated/astria.sequencer.v2alpha1.serde.rs
  crates/astria-core/src/lib.rs
Due: none

fix broken compile
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/mod.rs
Due: conductor

minor fixes for running w 0.38
  Cargo.lock
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer
