Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-proto/src/proto/generated/**'

feat(conductor): don't attempt to execute finalized blocks (#617)
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

new release cuts of composer, relayer, conductor
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
Due: conductor, composer, sequencer-relayer

chore(composer, relayer, conductor): release composer 0.3.0, conductor 0.11.0, relayer 0.9.0 (#618)
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
Due: conductor, composer, sequencer-relayer

style(conductor): use height methods to increment, ensure macro to compare
  crates/astria-conductor/src/data_availability/block_verifier.rs
Due: conductor

fix: add error context, simplify type conversions
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

trusted relay protos initial
  crates/astria-proto/proto/astria/block_relay/v1alpha1/bid.proto
  crates/astria-proto/proto/astria/block_relay/v1alpha1/block_relay.proto
Due: none

scaffolding for top of block relay interaction with proposer
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/block_relay/client.rs
  crates/astria-composer/src/block_relay/mod.rs
  crates/astria-composer/src/block_relay/server.rs
  crates/astria-composer/src/lib.rs
  crates/astria-proto/proto/astria/block-relay/v1alpha1/proposer.proto
  crates/astria-proto/src/proto/generated/astria.block_relay.v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.block_relay.v1alpha1.tonic.rs
Due: composer

set up server and client impl in protos
  Cargo.lock
  crates/astria-composer/src/block_relay/client.rs
  crates/astria-composer/src/block_relay/mod.rs
  crates/astria-composer/src/block_relay/server.rs
  crates/astria-proto/Cargo.toml
  crates/astria-proto/proto/astria/block-relay/v1alpha1/bid.proto
  crates/astria-proto/proto/astria/block-relay/v1alpha1/block_relay.proto
  crates/astria-proto/proto/astria/block-relay/v1alpha1/proposer.proto
  crates/astria-proto/src/native/composer/block_relay/mod.rs
  crates/astria-proto/src/native/composer/block_relay/v1alpha1/bid.rs
  crates/astria-proto/src/native/composer/block_relay/v1alpha1/client.rs
  crates/astria-proto/src/native/composer/block_relay/v1alpha1/mod.rs
  crates/astria-proto/src/native/composer/block_relay/v1alpha1/server.rs
  crates/astria-proto/src/native/composer/mod.rs
  crates/astria-proto/src/native/mod.rs
  crates/astria-proto/src/proto/generated/astria.block_relay.v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.block_relay.v1alpha1.tonic.rs
  crates/astria-proto/src/proto/mod.rs
Due: composer, common

rename protos directory (oops)
  crates/astria-proto/proto/astria/block-relay/v1alpha1/bid.proto
  crates/astria-proto/proto/astria/block-relay/v1alpha1/block_relay.proto
Due: none

style(conductor): use methods to increment, ensure macro to compare (#619)
  crates/astria-conductor/src/data_availability/block_verifier.rs
Due: conductor

fix(constructor): add error context, simplify type conversions (#620)
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

fix(conductor): clean up executor tracing events
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

remove unused import
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

fail hard when failing to execute blocks
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

fix(conductor): fail hard when executing blocks fails (#621)
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

cut sequencer 0.7.0
  crates/astria-sequencer/Cargo.toml
Due: sequencer

chore(sequencer): release sequencer 0.7.0 (#625)
  crates/astria-sequencer/Cargo.toml
Due: sequencer

Revert "chore(sequencer): release sequencer 0.7.0 (#625)"
  crates/astria-sequencer/Cargo.toml
Due: sequencer

Revert "chore(sequencer): release sequencer 0.7.0" (#626)
  crates/astria-sequencer/Cargo.toml
Due: sequencer

release sequencer 0.7.0
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
Due: sequencer

chore(sequencer): release sequencer 0.7.0 (#627)
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
Due: sequencer

updates
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/types.rs
Due: cli

dedup sequencer rpc
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/cli/sequencer.rs
Due: cli

increment version
  Cargo.lock
  crates/astria-cli/Cargo.toml
Due: cli

add IBC grpc server to sequencer app
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

feat(proto): send many transactions per sequence action
  crates/astria-proto/proto/astria/sequencer/v1alpha1/transaction.proto
Due: none

WIP: move ./crates/astria-proto/proto to ./proto
  proto/astria/astria/execution/v1alpha1/execution.proto
  proto/astria/astria/execution/v1alpha2/execution.proto
  proto/astria/astria/primitive/v1/types.proto
  proto/astria/astria/sequencer/v1alpha1/account.proto
  proto/astria/astria/sequencer/v1alpha1/asset.proto
  proto/astria/astria/sequencer/v1alpha1/block.proto
  proto/astria/astria/sequencer/v1alpha1/celestia.proto
  proto/astria/astria/sequencer/v1alpha1/data.proto
  proto/astria/astria/sequencer/v1alpha1/merkle.proto
  proto/astria/astria/sequencer/v1alpha1/transaction.proto
  proto/astria/buf.lock
  proto/astria/buf.yaml
  proto/buf.work.yaml
Due: none

WIP: declare cosmos/cosmos-sdk as an explicit buf dependency
  proto/astria/buf.yaml
Due: none

WIP: move proto code generation from test to binary crate
  Cargo.toml
  tools/protobuf-compiler/Cargo.lock
  tools/protobuf-compiler/Cargo.toml
  tools/protobuf-compiler/src/main.rs
Due: none

WIP: construct the src, out dirs with respect to the build tools manifest dir
  tools/protobuf-compiler/src/main.rs
Due: none

WIP: add justfile entry to regenerate protos
  justfile
Due: none

WIP: add CI job to detect out-of-sync proto spec
  .github/workflows/test.yml
  justfile
Due: none

WIP: add/update READMEs
  .github/workflows/test.yml
  crates/astria-proto/README.md
  proto/README.md
  tools/protobuf-compiler/Cargo.toml
  tools/protobuf-compiler/README.md
Due: none

add config option for grpc addr
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

fmt toml
  crates/astria-sequencer/Cargo.toml
Due: sequencer

use penumbra_ibc::IBC_SUBSTORE_PREFIX
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

cleanup
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

update protos
  crates/astria-proto/src/native/sequencer/ics20_withdrawal.rs
  crates/astria-sequencer/src/accounts/ics20_withdrawal.rs
Due: sequencer, common

fix protos
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
Due: none

WIP: update lint, release proto github actions
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: none
