Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, celestia-client, common

simplify sync process
  crates/astria-conductor/src/sequencer.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/sync.rs
Due: conductor

comment on sync stream len in sync fut
  crates/astria-conductor/src/sequencer/sync.rs
Due: conductor

order task into blocks
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/conductor.rs
Due: conductor

rm mention of driver from config
  crates/astria-conductor/src/config.rs
Due: conductor

refactor to use new api design
  crates/astria-cli/justfile
  crates/astria-cli/src/cli.rs
  crates/astria-cli/src/commands/delete.rs
  crates/astria-cli/src/commands/deploy.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: none

doc comments for clap
  crates/astria-cli/src/cli.rs
Due: none

pedantic clippy
  crates/astria-cli/src/cli.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-cli/src/main.rs
Due: none

untested
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-sequencer-types/src/abci_code.rs
Due: composer, common

executor test working again
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/executor.rs
Due: conductor

added collector log
  crates/astria-composer/src/searcher/collector.rs
Due: composer

log successful tx submission:
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-sequencer-types/src/abci_code.rs
Due: composer, common

blackbox test doesnt work
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mock_sequencer.rs
Due: composer

implement rollup config create command
  Cargo.lock
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/cli.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/rollup.rs
Due: none

test
  crates/astria-cli/src/commands/rollup.rs
Due: none

cleanup
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/rollup.rs
Due: none

astria-proto -> proto
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/execution_client.rs
  crates/astria-conductor/src/executor.rs
Due: conductor

executor.rs -> executor/mod.rs
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

mock abci_info working
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer, sequencer-relayer

update example env
  crates/astria-sequencer-relayer/local.env.example
Due: sequencer-relayer

fix subscribe return
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Due: sequencer-relayer

clean up executor tests and use tcp stream
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

wip: tx integrity check
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

typo
  crates/astria-conductor/src/conductor.rs
Due: conductor

typo
  crates/astria-conductor/src/client_provider.rs
Due: conductor

make return value clearer by replacing map by ? and Ok
  crates/astria-conductor/src/data_availability.rs
Due: conductor

cleaner enum variant
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/sync.rs
Due: conductor

rm uncomment
  crates/astria-conductor/src/data_availability.rs
Due: conductor

fmt
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Due: sequencer-relayer

removed field from event because it's already part of the span
  crates/astria-conductor/src/data_availability.rs
Due: conductor

reduce executor test boilerplate
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

use private key seed
  crates/astria-cli/src/commands/sequencer.rs
Due: none

remove lies!
  crates/astria-cli/src/commands/sequencer.rs
Due: none

give a clearer name for fetching sequencer blobs
  crates/astria-conductor/src/data_availability.rs
Due: conductor

fix range when fetching missing DA heights
  crates/astria-conductor/src/data_availability.rs
Due: conductor

give clearer names to processing_sequencer_datas
  crates/astria-conductor/src/data_availability.rs
Due: conductor

get_rollup -> fetch_and_verify_rollup_blobs
  crates/astria-conductor/src/data_availability.rs
Due: conductor

only enable resubscribe if set
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

fmt toml
  crates/astria-conductor/Cargo.toml
Due: conductor

conductor: refactor and implement full node sync from sequencer (#455)
  Cargo.lock
  Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-conductor/src/driver.rs
  crates/astria-conductor/src/execution_client.rs
  crates/astria-conductor/src/executor.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/reader.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/sync.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-relayer/src/data_availability.rs
Due: conductor, composer, sequencer-relayer, common

Cut 0.6.0 conductor release
  Cargo.lock
  crates/astria-conductor/Cargo.toml
Due: conductor

Path conditions:
  conductor: any of: crates/astria-conductor/**
  composer: any of: crates/astria-composer
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**
  celestia-client: any of: crates/astria-celestia-jsonrpc-client/**
  common: any of: crates/astria-proto/src/native/**, crates/astria-sequencer-types/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**
