Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-proto/src/proto/generated/**'

test(sequencer): add unit tests for src/ibc/state_ext
  crates/astria-sequencer/src/ibc/state_ext.rs
Due: sequencer

add gRPC mocking library
  Cargo.lock
  Cargo.toml
  crates/astria-grpc-mock-test-codegen/Cargo.toml
  crates/astria-grpc-mock-test-codegen/src/main.rs
  crates/astria-grpc-mock-test/Cargo.toml
  crates/astria-grpc-mock-test/proto/health.proto
  crates/astria-grpc-mock-test/src/generated/grpc.health.v1.rs
  crates/astria-grpc-mock-test/src/generated/grpc.health.v1.serde.rs
  crates/astria-grpc-mock-test/src/generated/grpc_health_v1.bin
  crates/astria-grpc-mock-test/src/lib.rs
  crates/astria-grpc-mock-test/tests/health/main.rs
  crates/astria-grpc-mock/Cargo.toml
  crates/astria-grpc-mock/src/lib.rs
  crates/astria-grpc-mock/src/matcher.rs
  crates/astria-grpc-mock/src/mock.rs
  crates/astria-grpc-mock/src/mock_server.rs
  crates/astria-grpc-mock/src/mock_set.rs
  crates/astria-grpc-mock/src/mounted_mock.rs
  crates/astria-grpc-mock/src/response.rs
  crates/astria-grpc-mock/src/verification.rs
Due: none

generate pbjon impls for sequencer types needed to mock conductor
  crates/astria-core/src/generated/astria.sequencer.v1.serde.rs
  tools/protobuf-compiler/src/main.rs
Due: none

WIP(conductor): add first blackbox test
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/tests/blackbox/helpers/mock_grpc.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/helpers/telemetry.rs
  crates/astria-conductor/tests/blackbox/main.rs
  crates/astria-grpc-mock/src/mock.rs
Due: conductor

generate type names for rust types
  crates/astria-core/src/generated/astria.execution.v1alpha1.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.primitive.v1.rs
  crates/astria-core/src/generated/astria.sequencer.v1.rs
  tools/protobuf-compiler/Cargo.lock
  tools/protobuf-compiler/Cargo.toml
  tools/protobuf-compiler/src/main.rs
Due: none

Update sync options for PRs
  argocd/evm-rollup/appset-preview-pull-requests.yaml
Due: none

minor refactor
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_service.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
Due: composer

move executor and geth collectors to the composer
  Cargo.lock
  buf.work.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_status.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/geth_collectors/mod.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/rollup.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  justfile
  proto/composerapis/LICENSE
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
  proto/composerapis/buf.yaml
Due: composer

rename collector to GethCollector
  crates/astria-composer/src/searcher/mod.rs
Due: composer

addressing review comments + fmt and lint
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_service.rs
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

minor fixes
  crates/astria-composer/src/composer.rs
Due: composer

some renaming in the grpc_collector.proto
  crates/astria-composer/src/grpc_collector/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
Due: composer

run fmt and lint
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/grpc_collector/mod.rs
Due: composer

rename proto to grpc_collector.proto
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
Due: none

move astria core client dep to dev deps
  crates/astria-composer/Cargo.toml
Due: composer

move executor send and receive handles to the Composer
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/searcher/mod.rs
Due: composer

move executor and collectors to the composer
  crates/astria-composer/src/collectors/mod.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/rollup.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

fix lint issues
  crates/astria-composer/src/composer.rs
Due: composer

add gRPC collector
  Cargo.lock
  buf.work.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/grpc_collector/mod.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  justfile
  proto/composerapis/LICENSE
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
  proto/composerapis/buf.yaml
Due: composer

chore(collector): Rename Collector to GethCollector (#792)
  crates/astria-composer/src/collectors/geth.rs
Due: composer

run fmt and lint
  crates/astria-composer/src/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

move executor send and receive handles to the Composer
  crates/astria-composer/src/composer.rs
Due: composer

minor refactor
  crates/astria-composer/src/geth_collector/mod.rs
Due: composer

address review comments
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_service.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
  tools/protobuf-compiler/src/main.rs
Due: composer

add gRPC collector
  Cargo.lock
  buf.work.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  justfile
  proto/composerapis/LICENSE
  proto/composerapis/astria/composer/v1alpha1/generic_collector.proto
  proto/composerapis/buf.yaml
  tools/protobuf-compiler/src/main.rs
Due: composer

add some review comments
  crates/astria-composer/src/composer.rs
Due: composer

address review comments
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_service.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

run fmt + lint
  crates/astria-composer/src/grpc_collector/mod.rs
Due: composer

bump version of evm rollup chart
  charts/evm-rollup/Chart.yaml
Due: none

add docs for GrpcCollector
  crates/astria-composer/src/grpc_collector/mod.rs
Due: composer

add a health service to the gRPC server
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/collectors/grpc.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

add GRPC composer addr to composer configmap in smoke tests
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  charts/evm-rollup/templates/configmap.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/collectors/grpc.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/grpc.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  justfile
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
  proto/composerapis/buf.yaml
Due: composer, sequencer-relayer, common

refactoring
  crates/astria-composer/src/collectors/grpc.rs
  crates/astria-composer/src/collectors/mod.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_service.rs
  crates/astria-composer/src/composer_status.rs
  crates/astria-composer/src/geth_collector/mod.rs
  crates/astria-composer/src/lib.rs
Due: composer

test(sequencer): add unit tests for src/bridge/state_ext
  crates/astria-sequencer/src/bridge/state_ext.rs
Due: sequencer

only allow 1 tx to be submitted to the gRPC collector
  crates/astria-composer/src/collectors/grpc.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
Due: composer

refactor(sequencer): rewrote nonce fix in cleaner way
  crates/astria-sequencer/src/bridge/state_ext.rs
Due: sequencer

test otel base
  charts/evm-rollup/values.yaml
Due: none

edit url
  charts/evm-rollup/values.yaml
Due: none

two urls required for one
  charts/evm-rollup/values.yaml
Due: none

address review comments
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/grpc.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/geth_collector.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-composer/tests/blackbox/main.rs
Due: composer
