Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

dont attempt push when running untrusted env
  .github/workflows/reusable-docker-build.yml
Due: none

false if not truthy
  .github/workflows/reusable-docker-build.yml
Due: none

feat(conductor): rework fetching Celestia blobs
  Cargo.lock
  crates/astria-celestia-client/src/lib.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/convert.rs
  crates/astria-conductor/src/celestia/fetch.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reconstruct.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/main.rs
  crates/astria-core/src/sequencer/v1/celestia.rs
  crates/astria-core/src/sequencer/v1/test_utils.rs
Due: conductor, celestia-client

feat(core): generate Bytes and serde traits for new sequencerblock API
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  tools/protobuf-compiler/src/main.rs
Due: none

address review comments
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/collectors/geth_collector_builder.rs
  crates/astria-composer/src/collectors/mod.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/grpc.rs
  crates/astria-composer/src/grpc_server_builder.rs
  crates/astria-composer/src/lib.rs
Due: composer

convert constructors to builders
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/collectors/geth_collector_builder.rs
  crates/astria-composer/src/collectors/mod.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/grpc.rs
  crates/astria-composer/src/grpc_server_builder.rs
  crates/astria-composer/src/lib.rs
Due: composer

address review comments
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/tests.rs
Due: composer

refactor(sequencer): address comments from @SuperFluffy
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/proposal/block_size_constraints.rs
  crates/astria-sequencer/src/proposal/commitment.rs
Due: sequencer

run docker build on non main merges when appropriate
  .github/workflows/docker-build.yml
Due: none

fix(ci): ci docker runs should pass for external prs
  .github/workflows/docker-build.yml
  .github/workflows/reusable-docker-build.yml
Due: none

refactor(composer): Use config-like Builders instead of `new` Constructors (#953)
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/grpc.rs
Due: composer

fix(ci): disable storage for dev values
  dev/values/validators/single.yml
Due: none

fix(ci): disable storage for dev values (#961)
  dev/values/validators/single.yml
Due: none

fix(ci): docker runs should pass for external prs (#960)
  .github/workflows/docker-build.yml
  .github/workflows/reusable-docker-build.yml
Due: none

update smoke test to check soft commits
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  justfile
Due: none

update smoke test not to exit on soft success
  crates/astria-celestia-client/src/lib.rs
  crates/astria-celestia-client/src/submission.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  justfile
Due: conductor, sequencer-relayer, celestia-client

fmt
  crates/astria-celestia-client/src/submission.rs
  crates/astria-conductor/src/celestia/mod.rs
Due: conductor, celestia-client

attempt to fix tests
  .github/workflows/reusable-docker-build.yml
Due: none

wrap statement correctly
  .github/workflows/reusable-docker-build.yml
Due: none

fix smoke test run
  .github/workflows/docker-build.yml
Due: none

minor fixes + cleanup
  crates/astria-core/src/generated/astria.sequencer.v1.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-core/src/sequencerblock/v1alpha1/celestia.rs
  crates/astria-sequencer/src/api_state_ext.rs
  justfile
  proto/sequencerapis/astria/sequencer/v1/celestia.proto
Due: sequencer

comment out some stuff in attempt to fix finalization
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-core/src/sequencerblock/v1alpha1/celestia.rs
  crates/astria-core/src/sequencerblock/v1alpha1/tests.rs
Due: conductor

refactor(sequencer): address more commets from @SuperFluffy
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/proposal/block_size_constraints.rs
Due: sequencer

fix(sequencer): respect max_tx_bytes when preparing proposals (#911)
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/proposal/block_size_constraints.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/proposal/mod.rs
Due: sequencer

comment out more things in attempt to debug
  crates/astria-celestia-client/src/client.rs
  justfile
Due: celestia-client

uncomment stuff, small cleanups
  crates/astria-celestia-client/src/client.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-core/src/generated/astria.sequencer.v1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/sequencer/v1/celestia.rs
  crates/astria-core/src/sequencerblock/v1alpha1/celestia.rs
  proto/sequencerapis/astria/sequencer/v1/block.proto
  proto/sequencerapis/astria/sequencer/v1/celestia.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/block.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/celestia.proto
Due: conductor, celestia-client

generate more json types
  charts/sequencer/templates/ingress.yaml
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  tools/protobuf-compiler/src/main.rs
Due: none

if this fixes the smoke tests im gonna scream cry throw up
  justfile
Due: none

chart lint
  charts/sequencer/Chart.yaml
Due: none

idk if this will fix
  justfile
Due: none

maybe??
  justfile
Due: none

fixed????
  justfile
Due: none

address comments
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

update charts to use cometbft v0.38.6
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
  crates/astria-sequencer/README.md
  crates/astria-sequencer/TESTNET.md
  crates/astria-sequencer/src/app.rs
Due: sequencer

feat(sequencer)!: update to ABCI v0.38 (#831)
  Cargo.lock
  Cargo.toml
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/README.md
  crates/astria-sequencer/TESTNET.md
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/service/snapshot.rs
Due: sequencer

cleanup release.yml
  .github/workflows/release.yml
Due: none

move depot setup earlier
  .github/workflows/reusable-docker-build.yml
Due: none

chore(proto): update execution service to use sequencerblock (#954)
  .github/workflows/release.yml
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.sequencer.v1.rs
  proto/composerapis/buf.yaml
  proto/executionapis/astria/execution/v1alpha2/execution.proto
  proto/executionapis/buf.lock
  proto/executionapis/buf.yaml
  proto/sequencerapis/buf.yaml
  proto/sequencerblockapis/LICENSE
  proto/sequencerblockapis/buf.yaml
Due: conductor

Optionally import recipes for local development/testing
  .gitignore
  justfile
Due: none

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-proto/src/proto/generated/**
  composer: any of: crates/astria-composer, but not: crates/astria-proto/src/proto/generated/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-proto/src/proto/generated/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-proto/src/proto/generated/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-proto/src/proto/generated/**
  celestia-client: any of: crates/astria-celestia-client/**, but not: crates/astria-proto/src/proto/generated/**
  common: any of: crates/astria-proto/src/native/**, crates/astria-sequencer-types/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-proto/src/proto/generated/**
