Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-proto/src/proto/generated/**'

run the binaries instead of using cargo run
  crates/astria-composer/justfile
  crates/astria-conductor/justfile
  crates/astria-sequencer/justfile
Due: conductor, composer, sequencer

add allowed asset IDs for each bridge acc
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/transaction.proto
Due: sequencer

add non empty asset id check
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
Due: sequencer

add fee asset id to InitBridgeAccountAction, add increase/decrease balance fns
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/sequence.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/transaction.proto
Due: sequencer

Revert "run the binaries instead of using cargo run"
  crates/astria-composer/justfile
  crates/astria-conductor/justfile
  crates/astria-sequencer/justfile
Due: conductor, composer, sequencer

use new bin-run command
  crates/astria-composer/justfile
  crates/astria-conductor/justfile
  crates/astria-sequencer/justfile
  mprocs.yaml
Due: conductor, composer, sequencer

Add docker compose for local rollup dev
  docker-compose/.gitignore
  docker-compose/cometbft/config/addrbook.json
  docker-compose/cometbft/config/config.toml
  docker-compose/cometbft/config/genesis.json
  docker-compose/cometbft/config/node_key.json
  docker-compose/cometbft/config/priv_validator_key.json
  docker-compose/local.yaml
  docker-compose/reset.sh
Due: none

genesis and key file. consistent spacing.
  crates/astria-composer/justfile
  crates/astria-conductor/justfile
  crates/astria-sequencer/justfile
  scripts/justfile
  scripts/local-configs/genesis.json
  scripts/local-configs/priv_validator_key.json
Due: conductor, composer, sequencer

add unit tests
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
Due: sequencer

unit tests for deposit
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
Due: sequencer

clippy
  crates/astria-core/src/sequencer/v1alpha1/block.rs
Due: none

better naming
  scripts/justfile
Due: none

clippy
  crates/astria-sequencer/src/app.rs
Due: sequencer

local tooling
  local-tooling/bin-run-built-mprocs.yaml
  local-tooling/cometbft-local-configs/genesis.json
  local-tooling/cometbft-local-configs/priv_validator_key.json
  local-tooling/justfile
  local-tooling/local.env.example
Due: none

change command back
  crates/astria-sequencer/justfile
Due: sequencer

Create README.md
  local-tooling/README.md
Due: none

cleanup
  local-tooling/bin-run-built-mprocs.yaml
  local-tooling/justfile
Due: none

less ambiguous comment
  local-tooling/justfile
Due: none

funded priv key for messenger-rollup
  local-tooling/README.md
  scripts/genesis.json
Due: none

add account
  local-tooling/cometbft-local-configs/genesis.json
Due: none

use RollupTransaction instead of tuple
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-core/src/sequencer/v1alpha1/celestia.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
Due: conductor

format + clippy
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/sequencer.rs
Due: conductor, sequencer

feat(telemetry): simplify emitting error fields with cause chains (#765)
  Cargo.lock
  Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/main.rs
  crates/astria-conductor/src/sequencer.rs
  crates/astria-eyre/Cargo.toml
  crates/astria-eyre/README.md
  crates/astria-eyre/src/lib.rs
  crates/astria-optimism/Cargo.toml
  crates/astria-optimism/src/contract.rs
  crates/astria-optimism/src/deposit.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/src/validator.rs
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-sequencer-utils/src/genesis_parser.rs
  crates/astria-sequencer-utils/src/main.rs
Due: conductor, composer, sequencer, sequencer-relayer, cli, common

feat(relayer): retry submitting sequencer blocks until success
  Cargo.lock
  crates/astria-celestia-client/src/client.rs
  crates/astria-celestia-client/src/lib.rs
  crates/astria-celestia-client/src/submission.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/relayer.rs
Due: sequencer-relayer, celestia-client

feat(relayer): add backpressure mechanism to sequencer fetch and celestia submit
  Cargo.lock
  Cargo.toml
  crates/astria-celestia-client/src/submission.rs
  crates/astria-composer/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/write.rs
  crates/astria-sequencer-relayer/src/utils.rs
Due: composer, sequencer-relayer, celestia-client

update state reporting and fix tests
  crates/astria-sequencer-relayer/src/api.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/state.rs
  crates/astria-sequencer-relayer/src/relayer/write.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

address comments
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-core/src/sequencer/v1alpha1/celestia.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
Due: conductor, sequencer

instrument retry futures in correct span
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/write.rs
Due: sequencer-relayer

feat(proto): address comments on #701 (#770)
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-core/src/sequencer/v1alpha1/celestia.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
Due: conductor, sequencer

address comments, fix try_from_cometbft proof gen
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

clarify code addressing review comments
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/write.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

feat(relayer): retry sequencer block fetch, celestia blob submission (#769)
  Cargo.lock
  Cargo.toml
  crates/astria-celestia-client/src/client.rs
  crates/astria-celestia-client/src/lib.rs
  crates/astria-celestia-client/src/submission.rs
  crates/astria-composer/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/api.rs
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/state.rs
  crates/astria-sequencer-relayer/src/relayer/write.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/src/utils.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: composer, sequencer-relayer, celestia-client

fix(relayer): add metrics
  crates/astria-sequencer-relayer/src/metrics_init.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/write.rs
Due: sequencer-relayer

implement FilteredSequencerBlock raw and native types, update grpc to use them
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/service.proto
Due: sequencer

unit tests
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/test_utils.rs
Due: none

rename field for clarity
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
Due: none

address comments
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/transaction.proto
Due: sequencer

clippy
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
Due: none

feat(conductor): assert execution host fulfills contract
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Due: conductor
