Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

refactor(core)!: move fee asset from `UnsignedTransaction` to `SequenceAction` and `TransferAction` (#719)
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/executor/bundle_factory/tests.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/test_utils.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/mod.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/ics20_withdrawal.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/mint/action.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/transaction/action_handler.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/astria/sequencer/v1alpha1/transaction.proto
Due: composer, sequencer, cli, common

refactor(conductor): interact with executor via handle (#711)
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer.rs
Due: conductor

clippy
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/lib.rs
Due: conductor

replace all color_eyre in favor of eyre
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/sequencer.rs
Due: conductor

fix: a single celestia height can have multiple sequencer heights
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/mod.rs
Due: conductor

start caching reconstructed blocks at the expected firm height
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

install formatting hook for eyre
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/main.rs
Due: conductor

cleanup signal handling, fix shutdown
  crates/astria-conductor/src/conductor.rs
Due: conductor

fix(conductor): each celestia height can contain multiple sequencer heights (#724)
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/main.rs
  crates/astria-conductor/src/sequencer.rs
Due: conductor

fix tetss
  crates/astria-conductor/src/sequencer.rs
Due: conductor

feat(conductor): implement backpressure, celestia search windows
  Cargo.lock
  crates/astria-celestia-client/src/lib.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/sequencer.rs
  crates/astria-conductor/src/utils.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/lib.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/serde.rs
Due: conductor, celestia-client

clippy
  crates/astria-conductor/src/celestia/mod.rs
Due: conductor

implement backpressure on the sequencer reader by limiting how much is fetched in the future
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/sequencer.rs
  crates/astria-conductor/src/utils.rs
  crates/astria-sequencer-client/src/extension_trait.rs
Due: conductor, common

feat(sequencer)!: add `ibc_sudo_address` to genesis, only allow `IbcRelay` actions from this address (#721)
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/test-genesis-app-state.json
Due: sequencer

feat(conductor): restrict firm<>soft commitment spread and add celestia search windows (#725)
  Cargo.lock
  crates/astria-celestia-client/src/lib.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/sequencer.rs
  crates/astria-conductor/src/utils.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/lib.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/serde.rs
  crates/astria-sequencer-client/src/extension_trait.rs
Due: conductor, celestia-client, common

fmt toml
  crates/astria-celestia-client/Cargo.toml
Due: celestia-client

fix(conductor): use trace level logs for full channels, don't print debug stuff in celestia client
  Cargo.lock
  crates/astria-celestia-client/Cargo.toml
  crates/astria-celestia-client/src/client.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/sequencer.rs
Due: conductor, celestia-client

add allowed fee assets to genesis, state, tx checks
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/test-genesis-app-state.json
Due: sequencer

add unit test
  crates/astria-sequencer/src/app.rs
Due: sequencer

enable tests for bins
  crates/astria-cli/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer, cli

chore: split apart protos into multiple buf images to avoid dependency issues
  .github/workflows/lint.yml
  .github/workflows/release.yml
  buf.work.yaml
  justfile
  proto/README.md
  proto/executionapis/astria/execution/v1alpha1/execution.proto
  proto/executionapis/astria/execution/v1alpha2/execution.proto
  proto/executionapis/buf.yaml
  proto/primitives/astria/primitive/v1/types.proto
  proto/primitives/buf.yaml
  proto/sequencerapis/astria/sequencer/v1alpha1/abci.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/account.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/asset.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/celestia.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/data.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/merkle.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/transaction.proto
  proto/sequencerapis/buf.lock
  proto/sequencerapis/buf.yaml
  tools/protobuf-compiler/src/main.rs
Due: none

fix push hopefully
  .github/workflows/lint.yml
  .github/workflows/release.yml
  buf.work.yaml
  proto/primitives/astria/primitive/v1/types.proto
  proto/primitives/buf.yaml
  proto/sequencerapis/buf.yaml
Due: none

change repo name
  proto/executionapis/buf.yaml
Due: none

missing file
  proto/sequencerapis/astria/primitive/v1/types.proto
Due: none

just & ci updates
  .github/workflows/lint.yml
  justfile
Due: none

licenses
  proto/executionapis/LICENSE
  proto/sequencerapis/LICENSE
Due: none

fix(core, conductor): relax size requirements of hash buffers
  Cargo.lock
  Cargo.toml
  containerfiles/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  tools/protobuf-compiler/src/main.rs
Due: conductor

commit sources generated from protos, fix tests, clippy
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
Due: conductor

vendoring types
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/celestia.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/data.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/transaction.proto
  proto/sequencerapis/buf.yaml
  tools/protobuf-compiler/src/main.rs
Due: none

include the types
  proto/sequencerapis/vendored/penumbra/core/component/ibc/v1alpha1/ibc.proto
  proto/sequencerapis/vendored/tendermint/abci/types.proto
  proto/sequencerapis/vendored/tendermint/crypto/keys.proto
  proto/sequencerapis/vendored/tendermint/types/types.proto
  proto/sequencerapis/vendored/tendermint/version/types.proto
Due: none

use more unique package name
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/celestia.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/data.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/transaction.proto
  proto/sequencerapis/astria_vendored/penumbra/core/component/ibc/v1alpha1/ibc.proto
  proto/sequencerapis/astria_vendored/tendermint/abci/types.proto
  proto/sequencerapis/astria_vendored/tendermint/crypto/keys.proto
  proto/sequencerapis/astria_vendored/tendermint/types/types.proto
  proto/sequencerapis/astria_vendored/tendermint/version/types.proto
  proto/sequencerapis/buf.yaml
  tools/protobuf-compiler/src/main.rs
Due: none

fix(core, conductor): relax size requirements of hash buffers (#709)
  Cargo.lock
  Cargo.toml
  containerfiles/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  tools/protobuf-compiler/src/main.rs
Due: conductor

feat(telemetry)!: use opentelemetry
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/main.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/lib.rs
Due: conductor, composer, sequencer, sequencer-relayer, common

feat(telemetry)!: use opentelemetry (#656)
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/main.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/lib.rs
Due: conductor, composer, sequencer, sequencer-relayer, common

add fee_asset_id to Ics20Withdrawal
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer/src/accounts/ics20_withdrawal.rs
  proto/astria/sequencer/v1alpha1/transaction.proto
Due: sequencer

lint
  crates/astria-sequencer/src/genesis.rs
Due: sequencer

change fee to 24
  crates/astria-sequencer/src/accounts/ics20_withdrawal.rs
Due: sequencer

deduct fee in execute
  crates/astria-sequencer/src/accounts/ics20_withdrawal.rs
Due: sequencer

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-proto/src/proto/generated/**
  composer: any of: crates/astria-composer, but not: crates/astria-proto/src/proto/generated/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-proto/src/proto/generated/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-proto/src/proto/generated/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-proto/src/proto/generated/**
  celestia-client: any of: crates/astria-celestia-client/**, but not: crates/astria-proto/src/proto/generated/**
  common: any of: crates/astria-proto/src/native/**, crates/astria-sequencer-types/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-proto/src/proto/generated/**
