Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

refactor(composer): flatten module structure (#796)
  crates/astria-composer/src/api.rs
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/collectors/mod.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/rollup.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/src/tests.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

pull proto and crate changes from noot/abci-0.38
  crates/astria-celestia-client/src/client.rs
  crates/astria-celestia-client/src/lib.rs
  crates/astria-celestia-client/src/submission.rs
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reporting.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/utils.rs
  crates/astria-core/src/generated/astria.sequencer.v1.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/sequencer/v1/block/mod.rs
  crates/astria-core/src/sequencer/v1/block/tests.rs
  crates/astria-core/src/sequencer/v1/celestia.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  proto/sequencerapis/astria/sequencer/v1/block.proto
  proto/sequencerapis/astria/sequencer/v1/celestia.proto
Due: conductor, sequencer-relayer, cli, celestia-client, common

update sequencer for proto updates
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
Due: sequencer

cleanup conductor
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/utils.rs
Due: conductor

make block proto not breaking
  crates/astria-core/src/generated/astria.sequencer.v1.rs
  crates/astria-core/src/sequencer/v1/block/mod.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  proto/sequencerapis/astria/sequencer/v1/block.proto
Due: sequencer

make celestia proto non breaking
  crates/astria-core/src/generated/astria.sequencer.v1.rs
  crates/astria-core/src/sequencer/v1/celestia.rs
  proto/sequencerapis/astria/sequencer/v1/celestia.proto
Due: none

clippy
  crates/astria-core/src/sequencer/v1/block/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  proto/sequencerapis/astria/sequencer/v1/celestia.proto
Due: sequencer, sequencer-relayer

fix tests
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-core/src/generated/astria.sequencer.v1.rs
Due: conductor

fix unit tests and cleanup for v0.38
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/service/snapshot.rs
Due: sequencer

fix bug in get_sequencer_block_by_hash
  crates/astria-sequencer/src/api_state_ext.rs
Due: sequencer

cleanup
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/info/mod.rs
Due: sequencer

cleanup
  crates/astria-sequencer/src/app.rs
Due: sequencer

clippy
  crates/astria-sequencer/src/api_state_ext.rs
Due: sequencer

clippy
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app.rs
Due: sequencer

cleanup
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

rename serialized_rollup_transactions_[tx,rx] to sequence_action_[tx,rx]
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/mod.rs
Due: composer

feat: add contribution guidelines
  CONTRIBUTING.md
Due: none

fix(sequencer): fix bug in `get_sequencer_block_by_hash` (#832)
  crates/astria-sequencer/src/api_state_ext.rs
Due: sequencer

chore: releases for new devnet (#824)
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer

fix docker build tagging for releases
  .github/workflows/reusable-docker-build.yml
Due: none

fix(ci): docker build tagging for releases (#840)
  .github/workflows/reusable-docker-build.yml
Due: none

fix(ci): isolate docker builds to specific release
  .github/workflows/build.yml
  .github/workflows/docker-build.yml
  .github/workflows/reusable-docker-build.yml
Due: none

fix(ci): isolate docker builds to specific release (#841)
  .github/workflows/build.yml
  .github/workflows/docker-build.yml
  .github/workflows/reusable-docker-build.yml
Due: none

fix(ci): docker images tagging again
  .github/workflows/docker-build.yml
  .github/workflows/reusable-docker-build.yml
Due: none

fix(ci): docker images tagging again (#842)
  .github/workflows/docker-build.yml
  .github/workflows/reusable-docker-build.yml
Due: none

implement bridge deposits for ICS20 incoming transfers
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

add success unit tests
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

add fail test case
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

fix is_source prefix check
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

clippy
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

refactor(conductor): simplify builder types by config-like (#829)
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/builder.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

make all select loops biased, add comments, add shutdown messages
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

refactor(conductor): switch oneshot channels to cancellation tokens
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/builder.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

fix comment
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

address review comments
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/tests.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-test-utils/src/mock/geth.rs
Due: composer

move executor handle creation to executor
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/tests.rs
Due: composer

refactor(composer): interact with executor through handle (#834)
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/tests.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-test-utils/src/mock/geth.rs
Due: composer

rename test
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

fix typo
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

rename is_source to is_prefixed and move check
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-proto/src/proto/generated/**
  composer: any of: crates/astria-composer, but not: crates/astria-proto/src/proto/generated/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-proto/src/proto/generated/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-proto/src/proto/generated/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-proto/src/proto/generated/**
  celestia-client: any of: crates/astria-celestia-client/**, but not: crates/astria-proto/src/proto/generated/**
  common: any of: crates/astria-proto/src/native/**, crates/astria-sequencer-types/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-proto/src/proto/generated/**
