Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

unit tests
  crates/astria-composer/src/searcher/bundle_factory.rs
  crates/astria-composer/src/searcher/executor.rs
Due: composer

move serialization to collectors
  crates/astria-composer/src/searcher/bundle_factory.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/src/searcher/mod.rs
Due: composer

update balance query to return balances of all assets
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/account.rs
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/accounts/ics20_transfer.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  proto/astria/sequencer/v1alpha1/account.proto
Due: sequencer, common

update cli
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

fix query for native denom
  crates/astria-sequencer/src/accounts/state_ext.rs
Due: sequencer

fix return code
  crates/astria-sequencer/src/accounts/query.rs
Due: sequencer

lint
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
Due: none

update to use penumbra fork
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/justfile
  crates/astria-sequencer/src/ibc_storage_wrapper.rs
Due: sequencer

fix typo in ci error message
  .github/workflows/test.yml
Due: none

update containerfiles
  containerfiles/Cargo.toml
Due: none

lint
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

fix
  containerfiles/Cargo.toml
Due: none

fix async cancellation
  crates/astria-composer/src/searcher/bundle_factory.rs
  crates/astria-composer/src/searcher/executor.rs
Due: composer

fix(ci): fix typo in ci error message (#684)
  .github/workflows/test.yml
Due: none

fix FungibleTokenPacketData decoding
  crates/astria-sequencer/src/accounts/ics20_transfer.rs
Due: sequencer

add SignedTransaction::hash method
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/mod.rs
  crates/astria-sequencer/src/app.rs
Due: conductor, sequencer

fix
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

add snapshot test for tx hash
  crates/astria-core/src/sequencer/v1alpha1/transaction/mod.rs
Due: none

change foundry commit in ci
  .github/workflows/test.yml
Due: none

fix(ci): change foundry commit in ci (#688)
  .github/workflows/test.yml
Due: none

change name from hash to sha256_of_proto_encoding
  crates/astria-core/src/sequencer/v1alpha1/transaction/mod.rs
  crates/astria-sequencer/src/app.rs
Due: sequencer

fix tests
  crates/astria-core/src/sequencer/v1alpha1/transaction/mod.rs
Due: none

address comments
  crates/astria-core/src/sequencer/v1alpha1/transaction/mod.rs
Due: none

remove IbcAsset, consolidate with Denom type
  crates/astria-core/src/sequencer/v1alpha1/account.rs
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer/src/accounts/ics20_transfer.rs
  crates/astria-sequencer/src/accounts/ics20_withdrawal.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/asset/state_ext.rs
Due: sequencer

feat(core): add `SignedTransaction::sha256_of_proto_encoding()` method (#687)
  crates/astria-core/src/sequencer/v1alpha1/transaction/mod.rs
  crates/astria-sequencer/src/app.rs
Due: sequencer

change error msg
  crates/astria-sequencer/src/accounts/ics20_transfer.rs
Due: sequencer

fix(sequencer): fix `FungibleTokenPacketData` decoding (#686)
  crates/astria-sequencer/src/accounts/ics20_transfer.rs
Due: sequencer

update execution API & conductor to adhere with new genesis info endpoint
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  proto/astria/execution/v1alpha2/execution.proto
  specs/execution-api.md
Due: conductor

include test type
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

remove unused
  crates/astria-core/src/execution/v1alpha2/mod.rs
Due: none

format
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

chore(cli): bump for dusk-3
  Cargo.lock
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/cli/mod.rs
Due: cli

fix merge
  crates/astria-sequencer/src/accounts/ics20_transfer.rs
Due: sequencer

chore(cli): bump for dusk-3 (#689)
  Cargo.lock
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/cli/mod.rs
Due: cli

transfer fees to block proposer
  Cargo.lock
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

small cleanup
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

lint
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

fix unit test
  crates/astria-sequencer/src/app.rs
Due: sequencer

feat(conductor): add firm block syncing
  crates/astria-conductor/Cargo.toml
Due: conductor

update lock
  Cargo.lock
Due: none

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-proto/src/proto/generated/**
  composer: any of: crates/astria-composer, but not: crates/astria-proto/src/proto/generated/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-proto/src/proto/generated/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-proto/src/proto/generated/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-proto/src/proto/generated/**
  celestia-client: any of: crates/astria-celestia-client/**, but not: crates/astria-proto/src/proto/generated/**
  common: any of: crates/astria-proto/src/native/**, crates/astria-sequencer-types/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-proto/src/proto/generated/**
