Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-jsonrpc-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

doctests
  .github/workflows/test.yml
Due: none

nightly for doctests
  .github/workflows/test.yml
Due: none

update components add ignore
  .github/workflows/test.yml
  codecov.yml
Due: none

minor
  .github/workflows/test.yml
Due: none

maybe?
  .github/workflows/test.yml
Due: none

test
  .github/workflows/test.yml
Due: none

dont think can precompile coverage tests
  .github/workflows/test.yml
Due: none

fix(ci): use gh token to avoid rate limit for setup-protoc (#546)
  .github/workflows/test.yml
Due: none

ci(composer): fix flaky composer test (#552)
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

update logging comment
  crates/astria-conductor/src/data_availability.rs
Due: conductor

clean up execute block for loop
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

feat(conductor): empty blocks from da get executed (#551)
  crates/astria-conductor/src/data_availability.rs
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

fix: dependency update for yanked ahash deps (#544)
  Cargo.lock
Due: none

updated sync start block height var names
  crates/astria-conductor/src/conductor.rs
Due: conductor

made executable_block_height private, added getter
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

out of order block check in execute block now returns Err instead of Ok(None)
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

refactor optimism integration to use PreExecutionHook trait object
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

clean up
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/hook.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/optimism.rs
Due: conductor

fix
  crates/astria-optimism/src/deposit.rs
Due: none

added out of order execution check tests
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

clippy
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

comments about initial sync height
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

remove disable empty block execution config setting
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

comment
  crates/astria-conductor/src/executor/optimism.rs
Due: conductor

fix authority component ValidatorSet non determinism
  crates/astria-sequencer/src/authority/state_ext.rs
Due: sequencer

attempt to fix ci by installing solc
  .github/workflows/test.yml
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

fix(sequencer): fix authority component ValidatorSet non determinism (#557)
  crates/astria-sequencer/src/authority/state_ext.rs
Due: sequencer

install foundry in ci
  .github/workflows/test.yml
Due: none

source
  .github/workflows/test.yml
Due: none

install foundry ci toolchain
  .github/workflows/test.yml
Due: none

add unit test for deposits in executor
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-optimism/src/contract.rs
  crates/astria-optimism/src/deposit.rs
  crates/astria-sequencer/justfile
Due: conductor, sequencer

revert example env
  crates/astria-conductor/local.env.example
Due: conductor

fix Cargo.toml
  Cargo.toml
Due: none

only run prepare process if proposer
  crates/astria-sequencer/justfile
  crates/astria-sequencer/src/app.rs
Due: sequencer

add comment
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-sequencer/src/app.rs
Due: conductor, sequencer

address comments
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-sequencer/src/app.rs
Due: conductor, sequencer
