Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-proto/src/proto/generated/**'

emit block-receive event in the function that actually gets the block
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

report on specific blob heights, num of blobs back to debug
  crates/astria-conductor/src/celestia/mod.rs
Due: conductor

feat(conductor): report on sequencer blocks received from sequencer
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/reporting.rs
  crates/astria-core/Cargo.toml
Due: conductor

feat(conductor): report information about sequencer blocks reconstructed from Celestia
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reporting.rs
Due: conductor

impl sequencer reporting via Serialize
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/reporting.rs
Due: conductor

feat(conductor): emit more information about blocks received from Sequencer, Celestia (#811)
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reporting.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/reporting.rs
  crates/astria-core/Cargo.toml
Due: conductor

address comments
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

clippy
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Due: sequencer-relayer

refactor(relayer)!: update relayer to use sequencer API to pull blocks (#810)
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
  crates/astria-sequencer/Cargo.toml
Due: sequencer, sequencer-relayer

naming and import cleanup
  crates/astria-composer/src/api.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

pedantic clippy
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/main.rs
Due: composer

move executor send and receive handles to the Composer
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/mod.rs
Due: composer

rename collector to GethCollector
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

run fmt + clippy
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/searcher/mod.rs
Due: composer

add gRPC collector
  Cargo.lock
  buf.work.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  justfile
  proto/composerapis/LICENSE
  proto/composerapis/astria/composer/v1alpha1/generic_collector.proto
  proto/composerapis/buf.yaml
  tools/protobuf-compiler/src/main.rs
Due: composer

fix lint issues
  crates/astria-composer/src/composer.rs
Due: composer

address review comments
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_service.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

rename proto to grpc_collector.proto
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
Due: none

move executor and collectors to the composer
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/geth_collector.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/src/searcher/rollup.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

run fmt and lint
  crates/astria-composer/src/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

handle composer from_config function error
  crates/astria-composer/src/main.rs
Due: composer

graceful shutdown in composer
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/geth_collector.rs
Due: composer

implement signal handling
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/geth_collector.rs
Due: composer

move latest height streaming into sequencer client lib
  Cargo.lock
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-client/src/lib.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
Due: sequencer-relayer, common

move block stream out of sequencer module
  crates/astria-conductor/src/sequencer/block_stream.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

clarify units of block time
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
Due: conductor

add retry logic to blob fetches from sequencer grpc
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/block_stream.rs
  crates/astria-conductor/src/sequencer/client.rs
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
Due: conductor

add retry to sequencer block fetch
  crates/astria-conductor/src/sequencer/client.rs
Due: conductor

test the height tracking in the block stream
  crates/astria-conductor/src/sequencer/block_stream.rs
Due: conductor

remove pool of websocket clients in favor of http clients
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

feat(conductor): migrate to sequencer grpc api
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/client.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/reporting.rs
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
Due: conductor

Streamline block stream by moving heights into dedicated type
  crates/astria-conductor/src/sequencer/block_stream.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

rm now redundant impl
  crates/astria-conductor/src/block_cache.rs
Due: conductor

Set block time to 2000, move magic number out of block stream constructor
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/sequencer/block_stream.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

feat(conductor)!: use Sequencer gRPC API to fetch soft bocks. (#815)
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/sequencer/block_stream.rs
  crates/astria-conductor/src/sequencer/client.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/reporting.rs
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-client/src/lib.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
Due: conductor, sequencer-relayer, common

minor fixes
  charts/sequencer/templates/statefulsets.yaml
  justfile
Due: none

comments
  crates/astria-composer/local.env.example
Due: composer

chore(composer): disambiguate chain-id (#791)
  crates/astria-composer/local.env.example
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/src/searcher/rollup.rs
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

feat(conductor, sequencer): deposit transfers as u64, sequencer api uses rollup data
  .github/workflows/release.yml
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  proto/executionapis/astria/execution/v1alpha2/execution.proto
  proto/executionapis/buf.yaml
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/transaction.proto
  proto/sequencerapis/buf.lock
Due: conductor, sequencer

format
  crates/astria-conductor/src/executor/tests.rs
Due: conductor
