Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

fix(sequencer): run only `prepare_proposal` if proposer (#558)
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-sequencer/justfile
  crates/astria-sequencer/src/app.rs
Due: conductor, sequencer

address comments
  Cargo.lock
  crates/astria-celestia-client/src/client.rs
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer, celestia-client

verify current commit in conductor; remove last_commit from SequencerBlockData
  crates/astria-celestia-client/src/blob_space.rs
  crates/astria-celestia-client/src/client.rs
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/types.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
Due: conductor, celestia-client, common

code comment updates
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

lint
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-conductor/src/block_verifier.rs
Due: conductor, composer

fmt
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

address comments, add blackbox tests
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

refactor: remove signing and signature verification of data posted to DA (#538)
  Cargo.lock
  crates/astria-celestia-client/Cargo.toml
  crates/astria-celestia-client/src/blob_space.rs
  crates/astria-celestia-client/src/client.rs
  crates/astria-celestia-client/src/lib.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-proto/proto/astria/sequencer/v1alpha1/data.proto
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: conductor, composer, sequencer-relayer, celestia-client

address comment
  crates/astria-conductor/src/block_verifier.rs
Due: conductor

refactor: verify current block commit in conductor; remove `last_commit` from `SequencerBlockData` (#560)
  Cargo.lock
  crates/astria-celestia-client/src/blob_space.rs
  crates/astria-celestia-client/src/client.rs
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/types.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
Due: conductor, celestia-client, common

fix: dependency update for yanked ahash deps (#544)
  Cargo.lock
Due: none

feat(conductor): empty blocks from da get executed (#551)
  crates/astria-conductor/src/data_availability.rs
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

fix(sequencer): fix authority component ValidatorSet non determinism (#557)
  crates/astria-sequencer/src/authority/state_ext.rs
Due: sequencer

fix(ci): use gh token to avoid rate limit for setup-protoc (#546)
  .github/workflows/test.yml
Due: none

fix: implement `chain_ids_commitment` inclusion proof generation and verification (#548)
  crates/astria-celestia-client/src/blob_space.rs
  crates/astria-celestia-client/src/client.rs
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
  specs/data-flow-and-verification.md
Due: conductor, celestia-client, common

ci(composer): fix flaky composer test (#552)
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

added initial da block height to da::Reader
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability.rs
Due: conductor

initial da block height added to config
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

execute block no longer returns an option
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

comment updates
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

feat(conductor): remove disable empty block execution config setting (#556)
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

create asset::Denom type
  Cargo.lock
  crates/astria-proto/src/native/sequencer/asset.rs
  crates/astria-proto/src/native/sequencer/mod.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/asset/mod.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer, common

comment updates
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

small test updates
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

add executor ordering checks back in after merge of main
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

reduced ordering match to single if
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

feat(conductor): added commitment grab to better set sync start height (#553)
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

release sequencer 0.5.0
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
Due: sequencer

release relayer 0.6.0
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
Due: sequencer-relayer

release conductor 0.8.0
  Cargo.lock
  crates/astria-conductor/Cargo.toml
Due: conductor

chore(composer): release 0.2.5
  Cargo.lock
  crates/astria-composer/Cargo.toml
Due: composer

chore(composer): release 0.2.5 (#566)
  Cargo.lock
  crates/astria-composer/Cargo.toml
Due: composer

chore(sequencer): release 0.5.0 (#563)
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
Due: sequencer

chore(conductor): release 0.8.0 (#564)
  Cargo.lock
  crates/astria-conductor/Cargo.toml
Due: conductor

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-proto/src/proto/generated/**
  composer: any of: crates/astria-composer, but not: crates/astria-proto/src/proto/generated/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-proto/src/proto/generated/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-proto/src/proto/generated/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-proto/src/proto/generated/**
  celestia-client: any of: crates/astria-celestia-client/**, but not: crates/astria-proto/src/proto/generated/**
  common: any of: crates/astria-proto/src/native/**, crates/astria-sequencer-types/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-proto/src/proto/generated/**
