Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

chore(relayer): release 0.6.0 (#565)
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
Due: sequencer-relayer

Remove the bearer token from conductor
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/data_availability.rs
Due: conductor

cleanup
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-optimism/src/deposit.rs
Due: conductor

update Transfer to contain asset ID, update balance storage to include asset
  crates/astria-proto/proto/astria/sequencer/v1alpha1/asset.proto
  crates/astria-proto/proto/astria/sequencer/v1alpha1/transaction.proto
  crates/astria-proto/src/native/sequencer/asset.rs
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/asset/mod.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
Due: sequencer, common

small cargo.toml fix
  Cargo.toml
Due: none

basic find da block function added
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

add fee asset to UnsignedTransaction
  crates/astria-proto/proto/astria/sequencer/v1alpha1/transaction.proto
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/asset/mod.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer, common

update execution to deduct fee from specified fee asset
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/mint/action.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/transaction/action_handler.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

comment
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

sync blocks fn added
  crates/astria-conductor/src/data_availability.rs
  crates/astria-conductor/src/sequencer/sync.rs
Due: conductor

integrity test but decoding fails due to from and gas_limit
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

chore(relayer): apply clippy pedantic to relayer
  .github/workflows/test.yml
  crates/astria-sequencer-relayer/src/api.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

make execution_client a module under executor
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/lib.rs
Due: conductor

move executor commitment state to executor module
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/types.rs
Due: conductor

move sequencer block subset to data availability module
  crates/astria-conductor/src/data_availability.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/types.rs
Due: conductor

remove types module
  crates/astria-conductor/src/types.rs
Due: conductor

chore(conductor): implement clippy pedantic suggestions
  .github/workflows/test.yml
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/main.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/sync.rs
Due: conductor

fixed transaction encoding and added tx integrity test
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

fix tests
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-types/src/test_utils.rs
Due: composer, sequencer-relayer, common

lint
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/mint/action.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer, common

reorg da reader files, add da sync mod
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/data_availability/sync.rs
Due: conductor

add native_asset_base_denomination to genesis
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/asset/mod.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/test-genesis-app-state.json
Due: sequencer

unit test for transfers
  crates/astria-sequencer/src/app.rs
Due: sequencer

fix test
  crates/astria-sequencer/src/app.rs
Due: sequencer

small proto cleanup
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/asset/mod.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/mint/action.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/transaction/action_handler.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer, common

added sync done to da reader, updated conductor to start da/seq readers
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/data_availability/sync.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

cleanup
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

chore(relayer): implement clippy pedantic suggestions (#572)
  .github/workflows/test.yml
  crates/astria-sequencer-relayer/src/api.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

chore(conductor): implement clippy pedantic suggestions (#573)
  .github/workflows/test.yml
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/main.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/sync.rs
  crates/astria-conductor/src/types.rs
Due: conductor

fix ownership issues
  crates/astria-conductor/src/data_availability/mod.rs
Due: conductor

cleanup
  crates/astria-conductor/src/data_availability/mod.rs
Due: conductor

clippy
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

feature gate test utils in optimism crate, add comments
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-optimism/Cargo.toml
  crates/astria-optimism/src/contract.rs
  crates/astria-optimism/src/lib.rs
Due: conductor

address comments and add doc comment to optimism.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/optimism.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-optimism/src/contract.rs
Due: conductor

toml fmt
  crates/astria-conductor/Cargo.toml
Due: conductor

clippy
  crates/astria-conductor/src/executor/optimism.rs
Due: conductor

derive sequencer namespace in conductor from first block of sequencer
  crates/astria-celestia-client/src/client.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-sequencer-relayer/src/relayer.rs
Due: conductor, sequencer-relayer, celestia-client

removed unused
  crates/astria-celestia-client/src/lib.rs
Due: celestia-client

fmt
  crates/astria-celestia-client/src/client.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability.rs
Due: conductor, celestia-client

clippy
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability.rs
Due: conductor

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-proto/src/proto/generated/**
  composer: any of: crates/astria-composer, but not: crates/astria-proto/src/proto/generated/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-proto/src/proto/generated/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-proto/src/proto/generated/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-proto/src/proto/generated/**
  celestia-client: any of: crates/astria-celestia-client/**, but not: crates/astria-proto/src/proto/generated/**
  common: any of: crates/astria-proto/src/native/**, crates/astria-sequencer-types/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-proto/src/proto/generated/**
