Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

fix(conductor): enable tls for grpc connections
  Cargo.lock
  crates/astria-conductor/Cargo.toml
Due: conductor

chore(ci): improve the flow of local smoke test
  justfile
Due: none

feat(grpc-mock): utility methods for mounting mocks (#918)
  crates/astria-grpc-mock/src/mock.rs
Due: none

feat(ci): ensure all crate targets can be built outside the workspace (#919)
  .github/workflows/test.yml
Due: none

test(sequencer): add unit tests for src/api_state_ext
  crates/astria-sequencer/src/api_state_ext.rs
Due: sequencer

nit(sequencer): suggestion from noot
  crates/astria-sequencer/src/api_state_ext.rs
Due: sequencer

refactor(sequencer): addressed comments from noot
  crates/astria-sequencer/src/api_state_ext.rs
Due: sequencer

test(sequencer): add unit tests for src/api_state_ext (#890)
  crates/astria-sequencer/src/api_state_ext.rs
Due: sequencer

chore(ci): improve the flow of local smoke test (#926)
  justfile
Due: none

fix(conductor): enable tls for grpc connections (#925)
  Cargo.lock
  crates/astria-conductor/Cargo.toml
Due: conductor

refactor(sequencer): addressed commets from SupperFluffy
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/proposal/block_size_constraints.rs
  crates/astria-sequencer/src/proposal/mod.rs
Due: sequencer

refactor(sequencer): addressed commets from SupperFluffy
  crates/astria-sequencer/src/app.rs
Due: sequencer

chore(conductor, charts): release conductor 0.13.1, update evm chart
  Cargo.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  crates/astria-conductor/Cargo.toml
Due: conductor

chore(conductor): release conductor 0.13.1, update evm chart (#927)
  Cargo.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  crates/astria-conductor/Cargo.toml
Due: conductor

move block and celestia protos to v2, update sequencer and core
  crates/astria-celestia-client/src/client.rs
  crates/astria-celestia-client/src/submission.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-core/src/generated/astria.sequencer.v2.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/sequencer/mod.rs
  crates/astria-core/src/sequencer/v1/block/tests.rs
  crates/astria-core/src/sequencer/v2/block.rs
  crates/astria-core/src/sequencer/v2/celestia.rs
  crates/astria-core/src/sequencer/v2/mod.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequencer.rs
  proto/sequencerapis/astria/sequencer/v2/block.proto
  proto/sequencerapis/astria/sequencer/v2/celestia.proto
  proto/sequencerapis/astria/sequencer/v2/service.proto
Due: conductor, sequencer, celestia-client

update conductor and relayer
  crates/astria-celestia-client/src/lib.rs
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/block_stream.rs
  crates/astria-conductor/src/sequencer/client.rs
  crates/astria-conductor/src/sequencer/reporting.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/lib.rs
  crates/astria-sequencer-relayer/src/relayer/builder.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Due: conductor, sequencer-relayer, celestia-client, common

generate serde for required types
  crates/astria-core/src/generated/astria.sequencer.v2.serde.rs
  crates/astria-core/src/generated/mod.rs
  tools/protobuf-compiler/src/main.rs
Due: none

name v2alpha1
  crates/astria-celestia-client/src/client.rs
  crates/astria-celestia-client/src/lib.rs
  crates/astria-celestia-client/src/submission.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/block_stream.rs
  crates/astria-conductor/src/sequencer/client.rs
  crates/astria-conductor/src/sequencer/reporting.rs
  crates/astria-core/src/generated/astria.sequencer.v2alpha1.rs
  crates/astria-core/src/generated/astria.sequencer.v2alpha1.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/sequencer/mod.rs
  crates/astria-core/src/sequencer/v2alpha1/block.rs
  crates/astria-core/src/sequencer/v2alpha1/celestia.rs
  crates/astria-core/src/sequencer/v2alpha1/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/lib.rs
  crates/astria-sequencer-relayer/src/relayer/builder.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequencer.rs
  proto/sequencerapis/astria/sequencer/v2alpha1/block.proto
  proto/sequencerapis/astria/sequencer/v2alpha1/celestia.proto
  proto/sequencerapis/astria/sequencer/v2alpha1/service.proto
  tools/protobuf-compiler/src/main.rs
Due: conductor, composer, sequencer, sequencer-relayer, celestia-client, common

fix(charts): use statefulsets appropriately for rollup
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/deployments.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/templates/storageclasses.yaml
  charts/evm-rollup/templates/volumes.yaml
  dev/values/rollup/dev.yaml
Due: none

fix sequencer tests
  crates/astria-celestia-client/src/client.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app.rs
Due: sequencer, celestia-client

chore(composer): cut release for composer 0.6.0
  Cargo.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/service.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
Due: composer

update to latest chart
  crates/astria-cli/src/cli/rollup.rs
Due: cli

feat(cli): add a whole bunch of sudo commands
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

fix test
  crates/astria-cli/src/types.rs
Due: cli

chore: update codeowners w/ teams
  CODEOWNERS
Due: none

Revert "chore: update codeowners w/ teams"
  CODEOWNERS
Due: none

fix(charts): use statefulsets appropriately for rollup (#928)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/deployments.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/templates/storageclasses.yaml
  charts/evm-rollup/templates/volumes.yaml
  dev/values/rollup/dev.yaml
Due: none

comment update for sequencer_initial_block_height arg
  crates/astria-cli/src/cli/rollup.rs
Due: cli

keep parsing error in initial block height validation
  crates/astria-cli/src/cli/rollup.rs
  test-rollup-conf.yaml
Due: cli

clippy
  crates/astria-cli/src/cli/rollup.rs
Due: cli

don't test config yaml
  test-rollup-conf.yaml
Due: none

set revision number from chain id in init_chain
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

refactor(conductor): remove websocket subscription to Celestia heights in favor of periodic polling
  Cargo.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/latest_height_stream.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
Due: conductor

feat(cli): support dusk-4 and latest charts (#930)
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/types.rs
Due: cli

refactor(sequencer): addressed comments from @noot
  crates/astria-sequencer/src/app.rs
Due: sequencer

use regex in revision_number_from_chain_id and add tests
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

fmt
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

refactor(conductor)!: use HTTP to periodically poll Celestia heights (#852)
  Cargo.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/latest_height_stream.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
Due: conductor

add capacity to bundle factory
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-proto/src/proto/generated/**
  composer: any of: crates/astria-composer, but not: crates/astria-proto/src/proto/generated/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-proto/src/proto/generated/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-proto/src/proto/generated/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-proto/src/proto/generated/**
  celestia-client: any of: crates/astria-celestia-client/**, but not: crates/astria-proto/src/proto/generated/**
  common: any of: crates/astria-proto/src/native/**, crates/astria-sequencer-types/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-proto/src/proto/generated/**
