Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-proto/src/proto/generated/**'

Add secretProvider
  charts/sequencer-relayer/templates/secretproviderclass.yaml
Due: none

Update relayer to use secretProvider
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/templates/statefulset.yaml
  charts/sequencer-relayer/values.yaml
Due: none

Remove extraneous {{- end}} block
  charts/sequencer-relayer/templates/statefulset.yaml
Due: none

Forgot to add key: token
  charts/sequencer-relayer/values.yaml
Due: none

Bump chart version
  charts/sequencer-relayer/Chart.yaml
Due: none

release: chart upgrades for new releases
  charts/celestia-local/Chart.yaml
  charts/celestia-local/files/scripts/start-bridge.sh
  charts/celestia-local/templates/deployment.yaml
  charts/celestia-local/templates/service.yaml
  charts/celestia-local/values.yaml
  charts/celestia-node/Chart.yaml
  charts/celestia-node/files/scripts/start-node.sh
  charts/celestia-node/templates/statefulset.yaml
  charts/celestia-node/values.yaml
  charts/evm-rollup/Chart.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
  dev/values/rollup/dev.yaml
  dev/values/validators/node0.yml
  dev/values/validators/node1.yml
  dev/values/validators/node2.yml
  dev/values/validators/single.yml
  justfile
Due: none

fully remove secrets from default deployment
  charts/sequencer-relayer/values.yaml
  charts/sequencer/values.yaml
  dev/values/validators/node0.yml
  dev/values/validators/single.yml
Due: none

default to secured for node but allow disable
  charts/celestia-node/files/scripts/start-node.sh
  charts/celestia-node/values.yaml
  charts/evm-rollup/values.yaml
Due: none

moniker must have value
  charts/sequencer/values.yaml
Due: none

lint
  charts/celestia-node/values.yaml
  charts/evm-rollup/values.yaml
Due: none

Disable secretprovider by default
  charts/sequencer-relayer/values.yaml
Due: none

align on devContent instead of content to make clear
  charts/hermes/templates/configmaps.yaml
  charts/hermes/values.yaml
  dev/values/hermes/local.yml
Due: none

fix(ci): only run proto on actual proto changes
  .github/workflows/reusable-run-checker.yml
Due: none

Lint
  charts/sequencer-relayer/values.yaml
Due: none

hermes version update
  charts/hermes/Chart.yaml
Due: none

fix(ci): only run proto on actual proto changes (#1020)
  .github/workflows/reusable-run-checker.yml
Due: none

Update depdendency versions
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Due: none

Update chart version after the dependency version was updated
  charts/sequencer/Chart.yaml
Due: none

Don't need key field
  charts/sequencer-relayer/values.yaml
Due: none

Naming mismatch
  charts/sequencer-relayer/templates/statefulset.yaml
Due: none

Relayer secret provider (#1018)
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/templates/secretproviderclass.yaml
  charts/sequencer-relayer/templates/statefulset.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Due: none

after merge update
  dev/values/validators/node0.yml
  dev/values/validators/single.yml
Due: none

release: chart upgrades for new releases (#1019)
  charts/celestia-local/Chart.yaml
  charts/celestia-local/files/scripts/start-bridge.sh
  charts/celestia-local/templates/deployment.yaml
  charts/celestia-local/templates/service.yaml
  charts/celestia-local/values.yaml
  charts/celestia-node/Chart.yaml
  charts/celestia-node/files/scripts/start-node.sh
  charts/celestia-node/templates/statefulset.yaml
  charts/celestia-node/values.yaml
  charts/evm-rollup/Chart.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/hermes/Chart.yaml
  charts/hermes/templates/configmaps.yaml
  charts/hermes/values.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
  dev/values/hermes/local.yml
  dev/values/rollup/dev.yaml
  dev/values/validators/node0.yml
  dev/values/validators/node1.yml
  dev/values/validators/node2.yml
  dev/values/validators/single.yml
  justfile
Due: none

fix(conductor): only execute firm blocks if at soft head
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

update helm charts after merge
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Due: none

refactor(conductor, relayer): remove astria-celestia-client
  Cargo.lock
  Cargo.toml
  crates/astria-celestia-mock/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/convert.rs
  crates/astria-conductor/src/celestia/fetch.rs
  crates/astria-conductor/src/celestia/latest_height_stream.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reconstruct.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/celestia.rs
  crates/astria-core/src/lib.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/metrics_init.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/mod.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/tests.rs
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Due: conductor, sequencer-relayer

fmt toml
  crates/astria-sequencer-relayer/Cargo.toml
Due: sequencer-relayer

fmt
  crates/astria-sequencer/src/app.rs
Due: sequencer

use saturating arithmetic, change deposit size calc to runtime
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

add unit tests for bridge lock fee calc
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/sequence/state_ext.rs
Due: sequencer

cleanup
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
Due: sequencer

fix test
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
Due: sequencer

fix(chart): secretObject when no env var usage
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/secretproviderclass.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Due: none

don't push configmap when unused
  charts/sequencer-relayer/templates/configmaps.yaml
Due: none

fix(chart): secretObject when no env var usage (#1023)
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/templates/secretproviderclass.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Due: none

set app hash properly when initializing app
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

remove unnecessary log
  crates/astria-sequencer/src/app.rs
Due: sequencer

improvements to testnet, make script posix compliant
  crates/astria-sequencer/justfile
  crates/astria-sequencer/scripts/testnet.sh
Due: sequencer

fix(sequencer): set current app hash properly when creating app (#1025)
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

remove histogram buckets field
  crates/astria-composer/src/metrics_init.rs
Due: composer
