Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

A whole lot of skipping
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

adds support for executing txs when proposal phase has not occured
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

update expect
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

feat(sequencer): block size limit
  crates/astria-sequencer/src/app.rs
Due: sequencer

tests
  crates/astria-sequencer/src/app.rs
Due: sequencer

fix lints
  crates/astria-composer/src/searcher/bundler.rs
Due: composer

update to be only max sequence bytes
  crates/astria-sequencer/src/app.rs
Due: sequencer

Updated instrumentation for all consensus & app functions
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

wip addressing comments 2
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/data_availability/sync.rs
Due: conductor

format
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

core: define idiomatic execution types
  crates/astria-core/src/execution/mod.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/lib.rs
Due: none

conductor: simplify code and use idiomatic execution types
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

core: add builder for commitment state
  crates/astria-core/src/execution/v1alpha2/mod.rs
Due: none

update executor to use commitment state builder
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
Due: conductor

fix(sequencer): update app state to latest committed before starting round (#673)
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

review feedback
  crates/astria-sequencer/src/app.rs
Due: sequencer

clippy
  crates/astria-sequencer/src/app.rs
Due: sequencer

use telemetry hex
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

use helper functions
  crates/astria-sequencer/src/app.rs
Due: sequencer

block range to u64
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/data_availability/sync.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

Update crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/src/searcher/mod.rs
Due: composer

chore(sequencer): update instrumentation for all consensus & app functions (#677)
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

Update crates/astria-composer/src/searcher/bundler.rs
  crates/astria-composer/src/searcher/bundler.rs
Due: composer

missed in merge
  crates/astria-sequencer/src/app.rs
Due: sequencer

address requested changes
  crates/astria-composer/src/searcher/bundle_factory.rs
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/src/searcher/mod.rs
Due: composer

more pr fixes
  crates/astria-composer/local.env.example
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/searcher/bundle_factory.rs
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

use an enum to update commitment states
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

shorten enum name
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

clippy
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

refactor(conductor): use idiomatic types, streamline some executor code (#678)
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/src/execution/mod.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/lib.rs
Due: conductor

use hash
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

format and documenting
  crates/astria-sequencer/src/app.rs
Due: sequencer

review
  crates/astria-sequencer/src/app.rs
Due: sequencer

format
  crates/astria-sequencer/src/app.rs
Due: sequencer

fix(sequencer): allow blocksync to complete successfully (#675)
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

feat(sequencer)!: max sequencer bytes per block limit (#676)
  crates/astria-sequencer/src/app.rs
Due: sequencer

release(sequencer, conductor, composer): sequencer v0.8.0, conductor v0.11.1, composer v0.3.1
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer

add relayer release
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
Due: sequencer-relayer

build(sequencer, conductor, composer, relayer): cut releases (#680)
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-proto/src/proto/generated/**
  composer: any of: crates/astria-composer, but not: crates/astria-proto/src/proto/generated/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-proto/src/proto/generated/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-proto/src/proto/generated/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-proto/src/proto/generated/**
  celestia-client: any of: crates/astria-celestia-client/**, but not: crates/astria-proto/src/proto/generated/**
  common: any of: crates/astria-proto/src/native/**, crates/astria-sequencer-types/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-proto/src/proto/generated/**
