Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-jsonrpc-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

Remove glob to omit markdown files & run every non-pr
  .github/workflows/reusable-run-checker.yml
Due: none

test
  .github/workflows/reusable-run-checker.yml
  crates/astria-conductor/local.env.example
Due: conductor

walkback
  crates/astria-conductor/local.env.example
Due: conductor

cleanup
  .github/workflows/reusable-run-checker.yml
  crates/astria-conductor/README.md
Due: conductor

test fix
  .github/workflows/reusable-run-checker.yml
Due: none

test
  .github/workflows/reusable-run-checker.yml
  crates/astria-conductor/README.md
  crates/astria-conductor/src/config.rs
Due: conductor

test
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/config.rs
Due: conductor

back to basic
  .github/workflows/reusable-run-checker.yml
  crates/astria-conductor/local.env.example
Due: conductor

confirm work
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha1.rs
Due: none

confirmed
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha1.rs
Due: none

lol whitespace
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha1.rs
Due: none

whitespace
  .github/workflows/reusable-run-checker.yml
Due: none

fix(ci): Run all tests for every non-pr, remove glob check (#450)
  .github/workflows/reusable-run-checker.yml
Due: none

conductor: fix broken config var (#449)
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor.rs
Due: conductor

restart websocket connection
  crates/astria-conductor/src/driver.rs
Due: conductor

clippy
  crates/astria-conductor/src/driver_test_utils.rs
Due: conductor

format
  crates/astria-conductor/src/driver.rs
Due: conductor

added more to warns to identify blocks
  crates/astria-conductor/src/reader.rs
  crates/astria-sequencer-relayer/src/data_availability.rs
Due: conductor, sequencer-relayer

add error unit test
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/authority/action.rs
Due: sequencer

feat(sequencer): implement sudo key changes (#431)
  crates/astria-proto/proto/astria/sequencer/v1alpha1/transaction.proto
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer, common

wip
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
Due: sequencer-relayer

fix
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
Due: sequencer-relayer

update relayer to use ws client
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Due: sequencer-relayer

cleanup
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/relayer.rs
Due: sequencer-relayer

update comments
  crates/astria-sequencer-relayer/src/relayer.rs
Due: sequencer-relayer

use websocket instead of http client for sequencer
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/driver.rs
Due: conductor

remove unnecessarily sync handler
  crates/astria-conductor/src/driver.rs
Due: conductor

conductor: move sequencer data validation into signed namespace validation
  crates/astria-conductor/src/block_verifier.rs
Due: conductor

conductor: restructure crate into self-contained actors
  Cargo.lock
  Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/driver.rs
  crates/astria-conductor/src/executor.rs
  crates/astria-conductor/src/reader.rs
  crates/astria-sequencer-relayer/src/data_availability.rs
Due: conductor, composer, sequencer-relayer

move da reader out of driver
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/driver.rs
Due: conductor

rename reader -> data_availabilty_reader, driver -> sequencer_reader
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/sequencer.rs
Due: conductor

put all long running conductor tasks into a joinmap
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor.rs
Due: conductor

wait for conductor tasks to shut down; then abort
  crates/astria-conductor/src/conductor.rs
Due: conductor

add an object pool to limit number of concurrent requests to sequencer
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/sequencer.rs
Due: conductor

better variable naming
  crates/astria-conductor/src/client_provider.rs
Due: conductor

attempt to resubscribe to new blocks after failure
  crates/astria-conductor/src/sequencer.rs
Due: conductor

rm unneccessary clone
  crates/astria-conductor/src/client_provider.rs
Due: conductor

name all actor run methods run_until_stopped
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability.rs
Due: conductor

replace option fut by fuse
  crates/astria-conductor/src/client_provider.rs
Due: conductor
