Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-jsonrpc-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

astria cli (#457)
  Cargo.lock
  Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-cli/README.md
  crates/astria-cli/justfile
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-cli/src/lib.rs
  crates/astria-cli/src/main.rs
  crates/astria-cli/src/types.rs
  crates/astria-cli/test-utils/Cargo.toml
  crates/astria-cli/test-utils/src/lib.rs
  crates/astria-cli/tests/integration_test.rs
  crates/astria-sequencer-utils/Cargo.toml
Due: sequencer

fix(conductor): update rollup chain id in conductor example env to match composer (#505)
  crates/astria-conductor/local.env.example
Due: conductor

fix(conductor): clarify logging in executor (#508)
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

fix issue where genesis account list was not being accepted in envars
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/tests/integration_test.rs
Due: none

fix(cli): genesis account lists now being parsed correctly from envars (#512)
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/tests/integration_test.rs
Due: none

address comments
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

fusedfuture ownership problems
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/src/searcher/mod.rs
Due: composer

composer: allow rollup names with dash
  crates/astria-composer/src/searcher/rollup.rs
Due: composer

update cargo lock
  Cargo.lock
  Cargo.toml
Due: none

clippy
  crates/astria-conductor/src/block_verifier.rs
Due: conductor

feat(composer): allow rollup names with dash (#514)
  crates/astria-composer/src/searcher/rollup.rs
Due: composer

Make the cli installable
  crates/astria-cli/Cargo.toml
  justfile
Due: none

New astria composer version
  Cargo.lock
  crates/astria-composer/Cargo.toml
Due: composer

release(composer): 0.2.3 (#519)
  Cargo.lock
  crates/astria-composer/Cargo.toml
Due: composer

feat(cli): installable cli (#517)
  crates/astria-cli/Cargo.toml
  justfile
Due: none

Make fewer values required
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/types.rs
Due: none

fix(sequencer): move transaction execution to prepare/process proposal (#480)
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

get sequencer height if none specified
  Cargo.lock
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/types.rs
  crates/astria-cli/test-utils/Cargo.toml
  crates/astria-cli/test-utils/src/lib.rs
Due: none

docs
  crates/astria-cli/src/cli/rollup.rs
Due: none

formatting
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/test-utils/src/lib.rs
Due: none

fix
  crates/astria-cli/test-utils/Cargo.toml
  crates/astria-cli/test-utils/src/lib.rs
Due: none

format
  crates/astria-cli/test-utils/src/lib.rs
Due: none

documentation
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/types.rs
Due: none

update default helm chart
  crates/astria-cli/src/cli/rollup.rs
Due: none

update version
  crates/astria-cli/src/cli/rollup.rs
Due: none

update default helm chart (#521)
  crates/astria-cli/src/cli/rollup.rs
Due: none

initial commit; deposits working
  Cargo.lock
  Cargo.toml
  crates/astria-optimism/Cargo.toml
  crates/astria-optimism/OptimismPortal.abi
  crates/astria-optimism/OptimismPortal.json
  crates/astria-optimism/src/lib.rs
Due: none

add event watcher + deposit tx from event converter
  crates/astria-optimism/Cargo.toml
  crates/astria-optimism/src/contract.rs
  crates/astria-optimism/src/lib.rs
  crates/astria-optimism/src/watcher.rs
Due: none

wip adding deposit execution to conductor
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-optimism/Cargo.toml
  crates/astria-optimism/src/lib.rs
  crates/astria-optimism/src/watcher.rs
Due: conductor

composer: respawn rollup collector on exit
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/mod.rs
Due: composer

composer: use backoff for connecting to geth
  Cargo.lock
  Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-conductor/Cargo.toml
Due: conductor, composer

move geth mock to astria-test-utils crate
  Cargo.lock
  Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-test-utils/Cargo.toml
  crates/astria-test-utils/src/lib.rs
  crates/astria-test-utils/src/mock/geth.rs
  crates/astria-test-utils/src/mock/mod.rs
Due: composer

wip debugging rlp
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-optimism/src/watcher.rs
Due: conductor

refactor network_id to be a string on the serialization side
  crates/astria-cli/src/types.rs
Due: none

fix missing comment
  crates/astria-cli/src/types.rs
Due: none

appease pedantic clippy
  crates/astria-cli/src/types.rs
Due: none

cli: refactor network_id to be a string on the serialization side (#527)
  crates/astria-cli/src/types.rs
Due: none

fix rlp encoding of deposit txs
  Cargo.lock
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-optimism/Cargo.toml
  crates/astria-optimism/src/watcher.rs
Due: conductor
