Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

replace Reader constructor by type-state builder
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability/builder.rs
  crates/astria-conductor/src/data_availability/mod.rs
Due: conductor

use penumbra HostInterface
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/chain_state_read_ext.rs
  crates/astria-sequencer/src/host_interface.rs
  crates/astria-sequencer/src/ibc_storage_wrapper.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

Add API definition for getting sequencer blocks
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  proto/astria/sequencer/v1alpha1/block.proto
  proto/astria/sequencer/v1alpha1/service.proto
Due: none

lint containerfiles
  containerfiles/Cargo.toml
Due: none

update generated & proto labeler settings
  .gitattributes
  .github/labeler.yml
Due: none

format
  proto/astria/sequencer/v1alpha1/service.proto
Due: none

clippy
  crates/astria-conductor/src/data_availability/builder.rs
Due: conductor

use same height type as tendermint header
  proto/astria/sequencer/v1alpha1/service.proto
Due: none

cleanup
  crates/astria-sequencer/src/host_interface.rs
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

review
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  proto/astria/execution/v1alpha2/execution.proto
Due: conductor

pass chain_id into init_chain
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

feat(sequencer): transfer fees to block proposer instead of burning (#690)
  Cargo.lock
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

update cometbft time in justfile
  crates/astria-sequencer/justfile
Due: sequencer

fix tests
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

code review updates
  Cargo.lock
  Cargo.toml
  crates/astria-celestia-client/Cargo.toml
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/execution/v1alpha2/mod.rs
Due: conductor, celestia-client

bump rpc ws for disk-3
  crates/astria-cli/src/cli/rollup.rs
Due: cli

chore: update licenses
  LICENSE-APACHE
  proto/LICENSE
Due: none

chore: update licenses (#706)
  LICENSE-APACHE
  proto/LICENSE
Due: none

refactor yaml serialization to match format in rollup's values.yaml
  crates/astria-cli/README.md
  crates/astria-cli/src/types.rs
Due: cli

update default rollup chart url
  crates/astria-cli/src/cli/rollup.rs
Due: cli

version bump
  crates/astria-cli/Cargo.toml
Due: cli

Update Cargo.lock
  Cargo.lock
Due: none

fix(cli)!: refactor yaml serialization to match format in rollup's values.yaml (#707)
  Cargo.lock
  crates/astria-cli/Cargo.toml
  crates/astria-cli/README.md
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/types.rs
Due: cli

chore(sequencer): config release-v0.8.x workflows
  .github/workflows/docker-build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/reusable-docker-build.yml
  .github/workflows/test.yml
Due: none

bump cli version
  crates/astria-cli/Cargo.toml
Due: cli

fix Cargo.lock
  Cargo.lock
Due: none

chore(cli): bump rpc websocket for dusk-3 (#705)
  Cargo.lock
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/cli/rollup.rs
Due: cli

refactored tests to separate files
  crates/astria-composer/src/searcher/executor/bundle_factory/mod.rs
  crates/astria-composer/src/searcher/executor/bundle_factory/tests.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/mod.rs
Due: composer

config cleanup
  crates/astria-composer/local.env.example
  crates/astria-composer/src/config.rs
Due: composer

module comment for bundle factory
  crates/astria-composer/src/searcher/executor/bundle_factory/mod.rs
Due: composer

pr notes
  crates/astria-composer/src/searcher/executor/bundle_factory/mod.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/executor/tests.rs
Due: composer

feat(composer): bundle multiple rollup transactions into a single sequencer transaction (#651)
  crates/astria-composer/local.env.example
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/executor/bundle_factory/mod.rs
  crates/astria-composer/src/searcher/executor/bundle_factory/tests.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

feat(sequencer, cli)!: update balance queries to return every asset owned by account (#683)
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/account.rs
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/accounts/ics20_transfer.rs
  crates/astria-sequencer/src/accounts/ics20_withdrawal.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  proto/astria/sequencer/v1alpha1/account.proto
Due: sequencer, cli, common

add comment to cargo.toml
  Cargo.toml
Due: none

feat(sequencer)!: use `IbcComponent` and penumbra `HostInterface` (#700)
  Cargo.lock
  Cargo.toml
  containerfiles/Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/justfile
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/host_interface.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

wip
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
Due: none

feat(relayer): add a couple basic metrics
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer.rs
Due: sequencer-relayer

move fee_asset_id field to TransferAction and SequenceAction
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/test_utils.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/mod.rs
  proto/astria/sequencer/v1alpha1/transaction.proto
Due: none

update sequencer app
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/ics20_withdrawal.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/transaction/action_handler.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

update composer and cli
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/executor/bundle_factory/tests.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/ics20_withdrawal.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/transaction/action_handler.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: composer, sequencer, cli, common

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-proto/src/proto/generated/**
  composer: any of: crates/astria-composer, but not: crates/astria-proto/src/proto/generated/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-proto/src/proto/generated/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-proto/src/proto/generated/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-proto/src/proto/generated/**
  celestia-client: any of: crates/astria-celestia-client/**, but not: crates/astria-proto/src/proto/generated/**
  common: any of: crates/astria-proto/src/native/**, crates/astria-sequencer-types/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-proto/src/proto/generated/**
