Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-jsonrpc-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

re-add warn log
  crates/astria-sequencer/src/main.rs
Due: sequencer

conductor: log task exit
  crates/astria-conductor/src/conductor.rs
Due: conductor

add get_balance function. add tracing. add tokio runtime.
  Cargo.lock
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-cli/src/main.rs
Due: none

make arg name for sensible
  crates/astria-cli/README.md
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/commands/rollup.rs
Due: none

add ASTRIA_SEQUENCER_ENABLE_MINT env var, only enable mint if this is true
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/main.rs
Due: sequencer

feat(sequencer): implement minting module (#435)
  crates/astria-proto/proto/astria/sequencer/v1alpha1/transaction.proto
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-sequencer/src/mint/action.rs
  crates/astria-sequencer/src/mint/mod.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer, common

get_block_height functionality
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: none

sequencer-validation: implement std Error (#430)
  crates/astria-sequencer-validation/Cargo.toml
  crates/astria-sequencer-validation/src/proof.rs
Due: common

composer: log collected txs (#460)
  crates/astria-composer/src/searcher/collector.rs
Due: composer

refactor api. added deployment commands alongside config commands.
  crates/astria-cli/README.md
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/rollup.rs
Due: none

list command
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/rollup.rs
Due: none

add sequencer commands to readme
  crates/astria-cli/README.md
  crates/astria-cli/src/cli/sequencer.rs
Due: none

implement stateful check in prepare/process proposal
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

tests. organization.
  Cargo.lock
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/commands/rollup.rs
Due: none

helper func
  crates/astria-cli/src/commands/rollup.rs
Due: none

edit config functionality
  Cargo.lock
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/types.rs
Due: none

remove assert_cmd for now
  Cargo.lock
  crates/astria-cli/Cargo.toml
Due: none

envar parsing tests
  Cargo.lock
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/lib.rs
  crates/astria-cli/src/test_utils.rs
Due: none

execute txs during proposal phase, cache results for deliver_tx
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

fix tests without --all-features
  crates/astria-sequencer/src/config.rs
Due: sequencer

cleanup, add comments
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

fix(sequencer): fix tests without `--all-features` (#481)
  crates/astria-sequencer/src/config.rs
Due: sequencer

cleanup
  crates/astria-sequencer/src/app.rs
Due: sequencer

cleanup
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

Update rollup.rs
  crates/astria-cli/src/commands/rollup.rs
Due: none

ignore poison
  crates/astria-cli/src/test_utils.rs
Due: none

make clippy happy
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/types.rs
Due: none

remove proc macro, implement config trait by hand, give more meaningful names to tests
  Cargo.lock
  Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/main.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/main.rs
  crates/astria-config-attribute/Cargo.toml
  crates/astria-config-attribute/src/lib.rs
  crates/astria-config/Cargo.toml
  crates/astria-config/src/config_tests.rs
  crates/astria-config/src/lib.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/Cargo.toml
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/main.rs
Due: conductor, composer, sequencer, sequencer-relayer

AstriaConfig -> Config
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/main.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/main.rs
  crates/astria-config/src/config_tests.rs
  crates/astria-config/src/lib.rs
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/main.rs
Due: conductor, composer, sequencer, sequencer-relayer

add utility get function to avoid importing the Config trait
  crates/astria-composer/src/main.rs
  crates/astria-conductor/src/main.rs
  crates/astria-config/src/lib.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer/src/main.rs
Due: conductor, composer, sequencer, sequencer-relayer

config_tests -> tests
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-config/Cargo.toml
  crates/astria-config/src/lib.rs
  crates/astria-config/src/tests.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer

rm no more needed dev dependencies
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer

add a fe doc comments, clean up
  crates/astria-composer/src/config.rs
  crates/astria-conductor/src/config.rs
  crates/astria-config/Cargo.toml
  crates/astria-config/src/lib.rs
  crates/astria-config/src/tests.rs
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer/src/config.rs
Due: conductor, composer, sequencer, sequencer-relayer

fmt toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer

move handle proposal funcs to app and clean up
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

cli: print errors with backtraces
  crates/astria-cli/src/main.rs
Due: none

cli: prettier backtraces
  crates/astria-cli/src/main.rs
Due: none

add chart_path so user can use local helm chart. print output of helm install. add dry-run flag
  crates/astria-cli/README.md
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/commands/rollup.rs
Due: none

Switch to maintained fork
  .github/workflows/reusable-cargo-version.yml
Due: none

bump penumbra, tendermint; prune workspace cargo of unused deps (#468)
  Cargo.lock
  Cargo.toml
  containerfiles/Dockerfile
  crates/astria-celestia-jsonrpc-client/src/lib.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/service/snapshot.rs
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer, celestia-client, common
