Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-proto/src/proto/generated/**'

use non-allocating hex-encoder for constructing database keys
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-telemetry/src/display.rs
Due: sequencer, common

bump borsh to 1, fixup api_state_ext serialization
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
Due: sequencer

make address private, crack down on implicit allocation
  crates/astria-core/src/sequencer/v1alpha1/account.rs
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
Due: sequencer, common

remove as_bytes getter
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
Due: none

reactivate correct PR triggers before merge
  .github/workflows/admin.yml
Due: none

check that state-files are writable at startup
  crates/astria-sequencer-relayer/src/relayer/submission.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

chore(ci): update all github actions that warn on deprecated Node.js 16 (#788)
  .github/labeler.yml
  .github/workflows/admin.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-docker-build.yml
  .github/workflows/reusable-release-cargo.yml
  .github/workflows/reusable-run-checker.yml
  .github/workflows/test.yml
Due: none

fix broken tests
  crates/astria-core/src/sequencer/v1alpha1/account.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer, common

clippy
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer/src/api_state_ext.rs
Due: sequencer

feat(relayer)!: introduce state to not submit previous sequencer blocks (#778)
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/state.rs
  crates/astria-sequencer-relayer/src/relayer/submission.rs
  crates/astria-sequencer-relayer/src/relayer/write.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

review
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Due: composer, sequencer-relayer

fix comment
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
Due: none

review fixes for #787 (#793)
  Cargo.lock
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/account.rs
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/celestia.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-telemetry/src/display.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
Due: sequencer, common

chore(proto)!: delete unused proto file (#783)
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/data.proto
Due: none

add grpc unit test
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
Due: sequencer

feat(sequencer): store sequencer blocks in the sequencer state (#787)
  Cargo.lock
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/account.rs
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/block/tests.rs
  crates/astria-core/src/sequencer/v1alpha1/celestia.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-telemetry/src/display.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
Due: conductor, sequencer, sequencer-relayer, cli, common

put deposits into rollup data for commitment tree and SequencerBlock
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/block/tests.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/test_utils.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: conductor, sequencer

feat(relayer): warn if submission tracking files are inconsistent, but don't exit
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/submission.rs
Due: sequencer-relayer

feat(relayer): warn if submission tracking is inconsistent, but continue operation (#798)
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/submission.rs
Due: sequencer-relayer

fix(conductor): track source celestia heights in reconstructed blocks
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

use checked addition, just in case
  crates/astria-conductor/src/celestia/mod.rs
Due: conductor

fix(conductor): simplify mapping Celestia heights to Sequencer heights (#797)
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

feat(relayer): report if conductor won't read more Celestia heights
  crates/astria-conductor/src/celestia/mod.rs
Due: conductor

feat(relayer): make block to filtered block conversion more flexible
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/block/tests.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
Due: none

feat(conductor): report if conductor won't read more Celestia heights (#799)
  crates/astria-conductor/src/celestia/mod.rs
Due: conductor

fix(conductor): assign increment celestia height to fetch
  crates/astria-conductor/src/celestia/mod.rs
Due: conductor

impl RollupData type and convert rollup data bytes into encoded RollupData
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
Due: none

cleanup and fix tests
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/block/tests.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/test_utils.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
Due: conductor, sequencer

fixes and add full execution unit test
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/proposal/commitment.rs
Due: sequencer

fmt proto
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
Due: none

clippy
  crates/astria-sequencer/src/proposal/commitment.rs
Due: sequencer

fix(composer): reset timer when bundle empty
  crates/astria-composer/src/searcher/executor/mod.rs
Due: composer

fix(conductor): update reference celestia height on finished scheduled block exeuction
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-sequencer-relayer/Cargo.toml
Due: conductor, sequencer-relayer

format
  crates/astria-conductor/src/celestia/mod.rs
Due: conductor

review update
  crates/astria-conductor/src/celestia/mod.rs
Due: conductor

format
  crates/astria-composer/src/searcher/executor/mod.rs
Due: composer

fix(conductor): update reference celestia height correctly (#803)
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-sequencer-relayer/Cargo.toml
Due: conductor, sequencer-relayer

fix(conductor): update increment celestia height to fetch (#801)
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-sequencer-relayer/Cargo.toml
Due: conductor, sequencer-relayer

fix(composer): reset timer when bundle empty (#804)
  crates/astria-composer/src/searcher/executor/mod.rs
Due: composer
