Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-proto/src/proto/generated/**'

fix(telemetry): bump otel to resolve panicks in layered span access (#820)
  Cargo.lock
  crates/astria-telemetry/Cargo.toml
Due: common

fix(sequencer): fix `is_source` prefix check (#844)
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

fix escrow channel check when receiving non-refund ics20 packet
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

maybe fix clippy
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

add unit tests for refund
  crates/astria-core/src/sequencer/v1/asset.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

clippy
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

refactor(conductor) use cancellation tokens for shutdown (#845)
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/builder.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

fix(conductor): don't panic while shutting down
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/utils.rs
Due: conductor

typo
  crates/astria-conductor/src/utils.rs
  crates/astria-sequencer-relayer/src/utils.rs
Due: conductor, sequencer-relayer

fix(conductor): don't panic while shutting down (#846)
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/utils.rs
  crates/astria-sequencer-relayer/src/utils.rs
Due: conductor, sequencer-relayer

Fix typo, build cometbft ARM binary if needed
  justfile
Due: none

fix lint issues
  crates/astria-composer/src/composer.rs
Due: composer

refactoring
  crates/astria-composer/src/collectors/grpc.rs
  crates/astria-composer/src/collectors/mod.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_service.rs
  crates/astria-composer/src/composer_status.rs
  crates/astria-composer/src/geth_collector/mod.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

run fmt + lint
  crates/astria-composer/src/grpc_collector/mod.rs
Due: composer

addressing review comments + fmt and lint
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_service.rs
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

add a health service to the gRPC server
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/collectors/grpc.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

add docs for GrpcCollector
  crates/astria-composer/src/grpc_collector/mod.rs
Due: composer

minor refactor
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_service.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
Due: composer

rename proto to grpc_collector.proto
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
Due: none

move astria core client dep to dev deps
  crates/astria-composer/Cargo.toml
Due: composer

address review comments
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_service.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
  tools/protobuf-compiler/src/main.rs
Due: composer

add some review comments
  crates/astria-composer/src/composer.rs
Due: composer

minor fixes
  crates/astria-composer/src/composer.rs
Due: composer

add gRPC collector
  Cargo.lock
  buf.work.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/grpc_collector/mod.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  justfile
  proto/composerapis/LICENSE
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
  proto/composerapis/buf.yaml
Due: composer

rename collector to GethCollector
  crates/astria-composer/src/searcher/mod.rs
Due: composer

some renaming in the grpc_collector.proto
  crates/astria-composer/src/grpc_collector/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
Due: composer

minor refactor
  crates/astria-composer/src/geth_collector/mod.rs
Due: composer

move executor send and receive handles to the Composer
  crates/astria-composer/src/composer.rs
Due: composer

move executor send and receive handles to the Composer
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/searcher/mod.rs
Due: composer

run fmt and lint
  crates/astria-composer/src/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

move executor and collectors to the composer
  crates/astria-composer/src/collectors/mod.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/rollup.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

add gRPC collector
  Cargo.lock
  buf.work.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  justfile
  proto/composerapis/LICENSE
  proto/composerapis/astria/composer/v1alpha1/generic_collector.proto
  proto/composerapis/buf.yaml
  tools/protobuf-compiler/src/main.rs
Due: composer

run fmt and lint
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/grpc_collector/mod.rs
Due: composer

chore(collector): Rename Collector to GethCollector (#792)
  crates/astria-composer/src/collectors/geth.rs
Due: composer

move executor and geth collectors to the composer
  Cargo.lock
  buf.work.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_status.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/geth_collectors/mod.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/rollup.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  justfile
  proto/composerapis/LICENSE
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
  proto/composerapis/buf.yaml
Due: composer

address review comments
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_service.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

add a comment
  Cargo.lock
  crates/astria-composer/src/collectors/grpc.rs
Due: composer

refactor: generate Arc<Self> target for grpc servers
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/src/generated/astria.execution.v1alpha1.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.sequencer.v1.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  tools/protobuf-compiler/src/main.rs
Due: conductor, sequencer, sequencer-relayer

implement graceful shutdown
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/collectors/grpc.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
Due: composer
