Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

feat(composer): Add a gRPC collector (#784)
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  buf.work.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/collectors/grpc.rs
  crates/astria-composer/src/collectors/mod.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/grpc.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/geth_collector.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-composer/tests/blackbox/main.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  justfile
  proto/composerapis/LICENSE
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
  proto/composerapis/buf.yaml
Due: composer, sequencer-relayer, common

fix minor shutdown issue
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
Due: sequencer-relayer

address comments
  crates/astria-celestia-client/src/lib.rs
  crates/astria-celestia-client/src/submission.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-sequencer-relayer/postsubmit.json
  crates/astria-sequencer-relayer/presubmit.json
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  proto/sequencerapis/astria/sequencer/v1/block.proto
Due: conductor, sequencer-relayer, celestia-client

fix formatting and clippy warning
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
Due: sequencer-relayer

fix(sequencer-relayer): shutdown not propagating on API server fail (#883)
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
Due: sequencer-relayer

add cargo audit to CI
  .github/workflows/test.yml
Due: none

provide a shutdown controller for the sequencer relayer
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

refactor(sequencer): address comments from noot
  crates/astria-sequencer/src/accounts/state_ext.rs
Due: sequencer

test(sequencer): add unit tests for src/accounts/state_ext
  crates/astria-sequencer/src/accounts/state_ext.rs
Due: sequencer

test(sequencer): add unit tests for src/accounts/state_ext (#871)
  crates/astria-sequencer/src/accounts/state_ext.rs
Due: sequencer

test(sequencer): add unit tests for src/asset/state_ext
  crates/astria-sequencer/src/asset/state_ext.rs
Due: sequencer

refactor(sequencer): address comments from noot
  crates/astria-sequencer/src/asset/state_ext.rs
Due: sequencer

test(sequencer): add unit tests for src/asset/state_ext (#874)
  crates/astria-sequencer/src/asset/state_ext.rs
Due: sequencer

add sequencer RPC and EVM rollup RPCs/WSS endpoints in docs
  charts/README.md
Due: none

format docs
  charts/README.md
Due: none

chore(docs): Add sequencer RPC and EVM rollup RPCs/WSS endpoints in docs (#888)
  charts/README.md
Due: none

fix smoke test docs
  charts/README.md
Due: none

fix(docs): Fix doc for running a smoke test (#873)
  charts/README.md
Due: none

refactor(sequencer): address comments from noot
  crates/astria-sequencer/src/authority/state_ext.rs
Due: sequencer

test(sequencer): add unit tests for src/authority/state_ext
  crates/astria-sequencer/src/authority/state_ext.rs
Due: sequencer

test(sequencer): add unit tests for src/authority/state_ext (#875)
  crates/astria-sequencer/src/authority/state_ext.rs
Due: sequencer

refactor(sequencer): address comments from noot
  crates/astria-sequencer/src/ibc/state_ext.rs
Due: sequencer

test(sequencer): add unit tests for src/ibc/state_ext
  crates/astria-sequencer/src/ibc/state_ext.rs
Due: sequencer

test(sequencer): add unit tests for src/ibc/state_ext (#876)
  crates/astria-sequencer/src/ibc/state_ext.rs
Due: sequencer

refactor(sequencer): address comments from noot
  crates/astria-sequencer/src/bridge/state_ext.rs
Due: sequencer

refactor(sequencer): rewrote nonce fix in cleaner way
  crates/astria-sequencer/src/bridge/state_ext.rs
Due: sequencer

test(sequencer): add unit tests for src/bridge/state_ext
  crates/astria-sequencer/src/bridge/state_ext.rs
Due: sequencer

test(sequencer): add unit tests for src/bridge/state_ext (#878)
  crates/astria-sequencer/src/bridge/state_ext.rs
Due: sequencer

simplify and rename the ShutdownController
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Due: sequencer-relayer

generate protos
  crates/astria-core/src/generated/astria.sequencer.v1.rs
Due: none

push charts to repo
  .github/workflows/release.yml
  charts/evm-rollup/files/genesis/geth-genesis.json
Due: none

test with updated chart version
  .github/workflows/release.yml
Due: none

add doc comments
  crates/astria-cli/src/cli/sequencer.rs
Due: cli

update
  .github/workflows/release.yml
Due: none

retry
  .github/workflows/release.yml
Due: none

feat(cli): add `init-bridge-account` and `bridge-lock` commands (#862)
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

add if in
  .github/workflows/release.yml
Due: none

fix chart version
  charts/evm-rollup/Chart.yaml
Due: none

remove no longer needed cr file
  cr.yaml
Due: none

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-proto/src/proto/generated/**
  composer: any of: crates/astria-composer, but not: crates/astria-proto/src/proto/generated/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-proto/src/proto/generated/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-proto/src/proto/generated/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-proto/src/proto/generated/**
  celestia-client: any of: crates/astria-celestia-client/**, but not: crates/astria-proto/src/proto/generated/**
  common: any of: crates/astria-proto/src/native/**, crates/astria-sequencer-types/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-proto/src/proto/generated/**
