Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, celestia-client, common

sequencer-types: replace chain id by bare string
  crates/astria-sequencer-types/src/lib.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
  crates/astria-sequencer-types/src/serde.rs
Due: common

sequencer-relayer: use string as chain ID
  crates/astria-sequencer-relayer/src/data_availability.rs
Due: sequencer-relayer

conductor: use string as chain ID
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/executor.rs
  crates/astria-conductor/src/types.rs
Due: conductor

clippy
  crates/astria-sequencer-validation/src/utils.rs
Due: common

update sequence action commitment snapshot
  crates/astria-sequencer/src/proposal/commitment.rs
Due: sequencer

update end_block to return result
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/component.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

address comments
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

feat(sequencer): implement basic validator set updates (#359)
  Cargo.lock
  crates/astria-proto/Cargo.toml
  crates/astria-proto/buf.gen.yaml
  crates/astria-proto/proto/astria/sequencer/v1alpha1/transaction.proto
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/authority/mod.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/component.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/test-genesis-app-state.json
Due: sequencer, common

fix tests and issues after merge
  crates/astria-conductor/src/executor.rs
Due: conductor

rename ExecutionClient to ExecutionClientExt
  crates/astria-conductor/src/execution_client.rs
  crates/astria-conductor/src/executor.rs
Due: conductor

get rid of unnecessary function
  crates/astria-conductor/src/execution_client.rs
  crates/astria-conductor/src/executor.rs
Due: conductor

Nonce can (and usually should) be equal
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

correctness
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

add error context to rpc client calls
  crates/astria-conductor/justfile
  crates/astria-conductor/src/execution_client.rs
Due: conductor

consistency
  crates/astria-conductor/src/execution_client.rs
  crates/astria-conductor/src/executor.rs
Due: conductor

wrap_err
  crates/astria-conductor/src/executor.rs
Due: conductor

add proto MintAction
  crates/astria-proto/proto/astria/sequencer/v1alpha1/transaction.proto
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
Due: common

add mint module
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/mint/action.rs
  crates/astria-sequencer/src/mint/mod.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer, common

add initial code for mock sequencer
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/driver.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/mock_sequencer.rs
Due: conductor

added utility type, changed function interfaces to reduce dealing with Option types
  crates/astria-conductor/src/execution_client.rs
  crates/astria-conductor/src/executor.rs
  crates/astria-conductor/src/types.rs
Due: conductor

fix doc comment
  crates/astria-conductor/src/execution_client.rs
Due: conductor

get rid of Option and move Some to calling area
  crates/astria-conductor/src/execution_client.rs
  crates/astria-conductor/src/executor.rs
Due: conductor

fix(sequencer): Nonces can be equal (#434)
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

add new sequencer release
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
Due: sequencer

proposal 2: submit sha256(chain_id) to da
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/executor.rs
  crates/astria-conductor/src/types.rs
  crates/astria-sequencer-relayer/src/data_availability.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
Due: conductor, sequencer-relayer, common

proposal 3: chain_id is 32 bytes, not string
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
  crates/astria-sequencer-validation/src/utils.rs
  crates/astria-sequencer/src/proposal/commitment.rs
Due: composer, sequencer, common

working tests, move mock constructors to test_utils mod in driver
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/driver.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/mock_sequencer.rs
Due: conductor

cleaned up cargo.toml
  Cargo.lock
  crates/astria-conductor/Cargo.toml
Due: conductor

added serde back
  Cargo.lock
  crates/astria-conductor/Cargo.toml
Due: conductor

release: conductor, sequencer-relayer, sequencer (#427)
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, sequencer, sequencer-relayer

Update owners for infra + reduce docker builds
  .github/workflows/reusable-run-checker.yml
  CODEOWNERS
Due: none

added CommitLevel parsing test, cleaned up tests in Driver
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/driver.rs
Due: conductor

clippy
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-types/src/namespace.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
Due: common

fix merge
  crates/astria-sequencer/src/authority/state_ext.rs
Due: sequencer

tabs
  CODEOWNERS
  justfile
Due: none

clippy 2
  crates/astria-conductor/src/driver.rs
Due: conductor

test
  .github/workflows/docker-build.yml
Due: none

test 2
  .github/workflows/docker-build.yml
Due: none

cleaned up
  .github/workflows/docker-build.yml
Due: none

update markdown lint
  .github/workflows/lint.yml
  crates/astria-conductor/README.md
  crates/astria-sequencer-utils/README.md
  crates/astria-sequencer/README.md
  crates/astria-sequencer/TESTNET.md
  specs/conductor.md
Due: conductor, sequencer

Path conditions:
  conductor: any of: crates/astria-conductor/**
  composer: any of: crates/astria-composer
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**
  celestia-client: any of: crates/astria-celestia-jsonrpc-client/**
  common: any of: crates/astria-proto/src/native/**, crates/astria-sequencer-types/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**
