Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-proto/src/proto/generated/**'

refactor(relayer): replace grab-bag constructor with config-like builder (#822)
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer/builder.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Due: sequencer-relayer

clippy
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
Due: sequencer-relayer

feat(relayer): implement graceful shutdown
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/api.rs
  crates/astria-sequencer-relayer/src/relayer/builder.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
Due: sequencer-relayer

reorder branches in biased select statemnt, change shutdown message
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
Due: sequencer-relayer

remove commented out code
  crates/astria-sequencer-relayer/src/api.rs
Due: sequencer-relayer

remove unnecessary celestia height fetch on write path
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
Due: sequencer-relayer

fix(sequencer): filtered blocks success when no data expected (#819)
  crates/astria-sequencer/src/grpc/sequencer.rs
Due: sequencer

feat(relayer): implement graceful shutdown (#823)
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/relayer/builder.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
Due: sequencer-relayer

chore: releases for new devnet
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer

bump penumbra deps
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

chore: bump penumbra deps (#825)
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

rename collector to GethCollector
  crates/astria-composer/src/searcher/mod.rs
Due: composer

move executor and collectors to the composer
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/geth_collector.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/src/searcher/rollup.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

move executor send and receive handles to the Composer
  crates/astria-composer/src/composer.rs
Due: composer

move executor and geth collectors to the composer
  Cargo.lock
  buf.work.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/api.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_service.rs
  crates/astria-composer/src/composer_status.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/geth_collectors/mod.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/rollup.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  justfile
  proto/composerapis/LICENSE
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
  proto/composerapis/buf.yaml
Due: composer

rename proto to grpc_collector.proto
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
Due: none

addressing review comments + fmt and lint
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_service.rs
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

add gRPC collector
  Cargo.lock
  buf.work.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/geth_collector.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  justfile
  proto/composerapis/LICENSE
  proto/composerapis/astria/composer/v1alpha1/generic_collector.proto
  proto/composerapis/buf.yaml
  tools/protobuf-compiler/src/main.rs
Due: composer

handle composer from_config function error
  crates/astria-composer/src/main.rs
Due: composer

minor refactor
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/geth_collector/mod.rs
  crates/astria-composer/src/lib.rs
Due: composer

address review comments
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_service.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

add some review comments
  crates/astria-composer/src/composer.rs
Due: composer

address review comments
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_service.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/geth_collector.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
  tools/protobuf-compiler/src/main.rs
Due: composer

run fmt and lint
  crates/astria-composer/src/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

chore(collector): Rename Collector to GethCollector (#792)
  crates/astria-composer/src/searcher/geth_collector.rs
Due: composer

move executor send and receive handles to the Composer
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/mod.rs
Due: composer

fix lint issues
  crates/astria-composer/src/composer.rs
Due: composer

minor fixes
  crates/astria-composer/src/composer.rs
Due: composer

run fmt + lint
  crates/astria-composer/src/grpc_collector/mod.rs
Due: composer

add gRPC collector
  Cargo.lock
  buf.work.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/grpc_collector/mod.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  justfile
  proto/composerapis/LICENSE
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
  proto/composerapis/buf.yaml
Due: composer

run fmt and lint
  crates/astria-composer/src/grpc_collector/mod.rs
Due: composer

minor refactor
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/grpc_collector/mod.rs
Due: composer

move astria core client dep to dev deps
  crates/astria-composer/Cargo.toml
Due: composer

some renaming in the grpc_collector.proto
  crates/astria-composer/src/grpc_collector/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
Due: composer

apply some clippy fixes
  crates/astria-composer/src/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

refactor composer tasks into a joinmap
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/grpc_collector/mod.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

implement graceful shutdown
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/geth_collector/mod.rs
  crates/astria-composer/src/grpc_collector/mod.rs
Due: composer

refactor(conductor): simplify builder types
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/builder.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

address review comments
  buf.work.yaml
  crates/astria-composer/src/api.rs
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/collectors/mod.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_status.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/tests.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/generated/mod.rs
  justfile
Due: composer
