Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

Apply suggestions from code review
  CONTRIBUTING.md
Due: none

implement shutdown logic
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/composer.rs
Due: composer

reformat and reformulate
  CONTRIBUTING.md
Due: none

fix clippy errors
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/executor/mod.rs
Due: composer

argo confs for evm-rollup
  argocd/evm-rollup/application.yml
  argocd/evm-rollup/appset-preview-pull-requests.yaml
  charts/evm-rollup/values-dev-default.yaml
  charts/evm-rollup/values-dev.yaml
Due: none

address comments
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

clean up message and fix iterator
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/executor/mod.rs
Due: composer

refactor execute_ics20_transfer to have bridge logic in separate fn
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

rename eoa
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

feat(sequencer): implement bridge deposits for incoming ICS20 transfers (#843)
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

cleanup
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

count rollup txs in bundle
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-composer/src/executor/mod.rs
Due: composer

add rollup_id to geth collector run instrumentation
  crates/astria-composer/src/collectors/geth.rs
Due: composer

cleanup
  crates/astria-composer/src/executor/bundle_factory/mod.rs
Due: composer

clean up comments and logging
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/mod.rs
Due: composer

add bytes to sized bundle display
  crates/astria-composer/src/executor/bundle_factory/mod.rs
Due: composer

implement init_bridge_account for cli
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

use json logging instead of explicit display impl
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/mod.rs
Due: composer

add insta to composer
  Cargo.lock
  Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
Due: conductor, composer

snapshot tests in composer
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/bundle_factory/snapshots/astria_composer__executor__bundle_factory__tests__sized_bundle_tests__snapshots.snap
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-composer/src/executor/mod.rs
Due: composer

fix feature imports
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/mod.rs
Due: composer

remove workspace wide feature
  Cargo.toml
Due: none

less noisy events
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/mod.rs
Due: composer

serde transparent
  crates/astria-composer/src/executor/bundle_factory/mod.rs
Due: composer

update charts to latest
  charts/celestia-node/Chart.yaml
  charts/celestia-node/templates/_helpers.tpl
  charts/evm-rollup/Chart.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/templates/_helpers.tpl
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/volumes.yaml
  charts/evm-rollup/values.yaml
  charts/sequencer-faucet/Chart.yaml
  charts/sequencer-faucet/values.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/templates/statefulset.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/genesis.json
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
  dev/values/rollup/dev.yaml
  dev/values/validators/node0.yml
  dev/values/validators/single.yml
  justfile
Due: none

clean up reports and more complex snapshot
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/bundle_factory/snapshots/astria_composer__executor__bundle_factory__tests__sized_bundle_tests__snapshots.snap
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-composer/src/executor/mod.rs
Due: composer

add readme
  charts/README.md
Due: none

fix docker run
  .github/workflows/reusable-docker-build.yml
Due: none

lint + docker build
  .github/workflows/docker-build.yml
  charts/README.md
Due: none

change events to info
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/mod.rs
Due: composer

chore(composer): logging of rollup ids on startup, and submission (#808)
  Cargo.lock
  Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/bundle_factory/snapshots/astria_composer__executor__bundle_factory__tests__sized_bundle_tests__snapshots.snap
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-conductor/Cargo.toml
Due: conductor, composer

test pr
  .ignore
Due: none

action updates
  .github/workflows/docker-build.yml
  .github/workflows/release.yml
  justfile
Due: none

ci: use buildx cache for dockerfile
  containerfiles/Dockerfile
Due: none

attempt fix ci builds
  containerfiles/Dockerfile
Due: none

make a fake change to test second build time
  crates/astria-core/src/sequencer/v1/transaction/action.rs
Due: none

not really a change
  crates/astria-core/src/sequencer/v1/transaction/action.rs
Due: none

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-proto/src/proto/generated/**
  composer: any of: crates/astria-composer, but not: crates/astria-proto/src/proto/generated/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-proto/src/proto/generated/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-proto/src/proto/generated/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-proto/src/proto/generated/**
  celestia-client: any of: crates/astria-celestia-client/**, but not: crates/astria-proto/src/proto/generated/**
  common: any of: crates/astria-proto/src/native/**, crates/astria-sequencer-types/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-proto/src/proto/generated/**
