Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-jsonrpc-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

fix ordering, form of imports; remove unused import
  crates/astria-conductor/Cargo.toml
Due: conductor

reexport tendermint_rpc under its name, not tendermint
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-sequencer-client/src/lib.rs
Due: conductor, composer, common

conductor: cleanup client provider loop by removing tasks
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/client_provider.rs
Due: conductor

fix imports
  crates/astria-sequencer-client/src/tests/http.rs
Due: common

conductor: retry establishing sequencer websocket
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/client_provider.rs
Due: conductor

Update crates/astria-conductor/src/client_provider.rs
  crates/astria-conductor/src/client_provider.rs
Due: conductor

rm sync wrapper from cargo lock
  Cargo.lock
Due: none

conductor: reconnect to sequencer websocket with backoff (#483)
  Cargo.lock
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/client_provider.rs
  crates/astria-sequencer-client/src/lib.rs
  crates/astria-sequencer-client/src/tests/http.rs
Due: conductor, composer, common

conductor: log task exit (#479)
  crates/astria-conductor/src/conductor.rs
Due: conductor

addressing comments
  Cargo.lock
  crates/astria-composer/src/config.rs
  crates/astria-conductor/src/config.rs
  crates/astria-config-derive/Cargo.toml
  crates/astria-config-derive/src/lib.rs
  crates/astria-config/src/config_tests.rs
  crates/astria-config/src/lib.rs
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer/src/config.rs
Due: conductor, composer, sequencer, sequencer-relayer

addressing comments
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/main.rs
  crates/astria-config-attribute/src/lib.rs
  crates/astria-config/src/config_tests.rs
  crates/astria-config/src/lib.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/main.rs
Due: conductor, composer, sequencer, sequencer-relayer

changing test.yml and dockerfile
  .github/workflows/test.yml
  containerfiles/Dockerfile
Due: none

integrity-test
  Cargo.lock
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

ci: bump rust to 1.72 (#477)
  .github/workflows/test.yml
  containerfiles/Dockerfile
Due: none

Conductor release
  Cargo.lock
  crates/astria-conductor/Cargo.toml
Due: conductor

release(conductor): Release 0.6.1 (#490)
  Cargo.lock
  crates/astria-conductor/Cargo.toml
Due: conductor

commit level helpers, update sync_done def
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
Due: conductor

clippy docs
  crates/astria-sequencer-types/src/namespace.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
Due: common

conductor: added execution commit level v2 (#474)
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-sequencer-types/src/namespace.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
Due: conductor, common

more clippy
  crates/astria-sequencer-types/src/namespace.rs
Due: common

clippy....
  crates/astria-sequencer-types/src/namespace.rs
Due: common

composer: report cause of failed nonce fetch
  crates/astria-composer/src/searcher/executor.rs
Due: composer

clippy
  crates/astria-sequencer-types/src/namespace.rs
Due: common

clipppy
  crates/astria-sequencer-types/src/namespace.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
Due: common

rm unsensible panic docs
  crates/astria-sequencer-types/src/namespace.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
Due: common

composer: report cause of failed nonce fetch (#492)
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-sequencer-types/src/namespace.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
Due: composer, common

release(composer): Release 0.2.2
  Cargo.lock
  crates/astria-composer/Cargo.toml
Due: composer

release(composer): Release 0.2.2 (#493)
  Cargo.lock
  crates/astria-composer/Cargo.toml
Due: composer

use fork of tendermint with backported reqwest client
  Cargo.lock
  Cargo.toml
Due: none

clarifying comments
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/types.rs
Due: none

make balance u128
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/types.rs
Due: none

fix cargo tomls after adding clap back to workspace deps
  Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-sequencer-utils/Cargo.toml
Due: sequencer

simplify how we get address from signing key
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: none

simplify
  crates/astria-cli/src/commands/sequencer.rs
Due: none

test yaml edit func
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/types.rs
Due: none

ensure eth genesis account addresses are 20 byte encoded hex strings
  crates/astria-cli/src/cli/rollup.rs
Due: none

fix clippy grumbles
  crates/astria-cli/src/cli/rollup.rs
Due: none
