Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

add lock file
  proto/executionapis/buf.lock
Due: none

buf format
  proto/executionapis/astria/execution/v1alpha2/execution.proto
Due: none

rollback u64
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
  proto/sequencerapis/astria/sequencer/v1alpha1/transaction.proto
Due: sequencer

rust format
  crates/astria-celestia-client/src/client.rs
  crates/astria-sequencer/src/proposal/commitment.rs
Due: sequencer, celestia-client

update bits to v1, review feedback
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  proto/executionapis/astria/execution/v1alpha2/execution.proto
Due: conductor

chore(ci): switch to nextest (#812)
  .config/nextest.toml
  .github/workflows/test.yml
Due: none

rename collector to GethCollector
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

address review comments
  crates/astria-composer/src/searcher/mod.rs
Due: composer

move executor send and receive handles to the Composer
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/mod.rs
Due: composer

add some review comments
  crates/astria-composer/src/composer.rs
Due: composer

move executor send and receive handles to the Composer
  crates/astria-composer/src/composer.rs
Due: composer

add gRPC collector
  Cargo.lock
  buf.work.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  justfile
  proto/composerapis/LICENSE
  proto/composerapis/astria/composer/v1alpha1/generic_collector.proto
  proto/composerapis/buf.yaml
  tools/protobuf-compiler/src/main.rs
Due: composer

fix lint issues
  crates/astria-composer/src/composer.rs
Due: composer

address review comments
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_service.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

rename proto to grpc_collector.proto
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
Due: none

address review comments
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_service.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
  tools/protobuf-compiler/src/main.rs
Due: composer

addressing review comments + fmt and lint
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/composer_service.rs
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

move executor and collectors to the composer
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/executor/mod.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/src/searcher/geth_collector.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/src/searcher/rollup.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

run fmt and lint
  crates/astria-composer/src/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

handle composer from_config function error
  crates/astria-composer/src/main.rs
Due: composer

minor fixes
  crates/astria-composer/src/composer.rs
Due: composer

add some module docs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/searcher/geth_collector.rs
  crates/astria-composer/src/searcher/mod.rs
Due: composer

address review comments
  crates/astria-composer/src/searcher/geth_collector.rs
Due: composer

chore(collector): Rename Collector to GethCollector (#792)
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/geth_collector.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

fix(sequencer): filtered blocks success when no data expected
  crates/astria-sequencer/src/grpc/sequencer.rs
Due: sequencer

rename helper function
  crates/astria-conductor/src/executor/tests.rs
Due: conductor

feat(conductor): sequencer api supports rollupdata type (#816)
  .github/workflows/release.yml
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.sequencer.v1.rs
  proto/executionapis/astria/execution/v1alpha2/execution.proto
  proto/executionapis/buf.lock
  proto/executionapis/buf.yaml
  proto/sequencerapis/buf.lock
Due: conductor

fix: bump otel to resolve panicks in layered span access
  Cargo.lock
  crates/astria-telemetry/Cargo.toml
Due: common

fix(core): serialize rollup IDs as strings
  crates/astria-core/src/sequencer/v1/mod.rs
Due: none

use binary search
  crates/astria-sequencer/src/grpc/sequencer.rs
Due: sequencer

add snapshot tests to rollup ID reporting
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/sequencer/reporting.rs
  crates/astria-conductor/src/sequencer/snapshots/astria_conductor__sequencer__reporting__tests__snapshots-2.snap
  crates/astria-conductor/src/sequencer/snapshots/astria_conductor__sequencer__reporting__tests__snapshots.snap
Due: conductor

refactor(relayer): replace big constructor by config-like builder
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer/builder.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Due: sequencer-relayer

add auth tower layer to celestia mock
  Cargo.lock
  crates/astria-sequencer-client/src/lib.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/relayer/builder.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Due: sequencer-relayer, common

clippy
  crates/astria-sequencer-relayer/src/relayer/builder.rs
Due: sequencer-relayer

fix(conductor): serialize rollup IDs as strings so telemetry doesn't crash (#821)
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/sequencer/reporting.rs
  crates/astria-conductor/src/sequencer/snapshots/astria_conductor__sequencer__reporting__tests__snapshots-2.snap
  crates/astria-conductor/src/sequencer/snapshots/astria_conductor__sequencer__reporting__tests__snapshots.snap
  crates/astria-core/src/sequencer/v1/mod.rs
Due: conductor

cleanup
  crates/astria-sequencer/src/grpc/sequencer.rs
Due: sequencer

Remove forgotten printlns
  crates/astria-sequencer-client/src/lib.rs
  crates/astria-sequencer-relayer/src/relayer/builder.rs
Due: sequencer-relayer, common

map errors better
  crates/astria-sequencer/src/grpc/sequencer.rs
Due: sequencer

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-proto/src/proto/generated/**
  composer: any of: crates/astria-composer, but not: crates/astria-proto/src/proto/generated/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-proto/src/proto/generated/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-proto/src/proto/generated/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-proto/src/proto/generated/**
  celestia-client: any of: crates/astria-celestia-client/**, but not: crates/astria-proto/src/proto/generated/**
  common: any of: crates/astria-proto/src/native/**, crates/astria-sequencer-types/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-proto/src/proto/generated/**
