Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

WIP: make linters happy
  Cargo.toml
  crates/astria-proto/README.md
  proto/README.md
  tools/protobuf-compiler/README.md
Due: none

WIP: emit buf stdout/stderr only if not empty
  tools/protobuf-compiler/Cargo.lock
  tools/protobuf-compiler/src/main.rs
Due: none

WIP: point proto release GH job at proto/astria
  .github/workflows/release.yml
Due: none

WIP: delete generated rust file and see if CI triggers
  crates/astria-proto/src/proto/generated/astria.primitive.v1.rs
Due: none

WIP: fix incorrectly named runner
  .github/workflows/test.yml
Due: none

WIP: actually checkout code in action
  .github/workflows/test.yml
Due: none

WIP: commit previously rmed file to fix CI test
  crates/astria-proto/src/proto/generated/astria.primitive.v1.rs
Due: none

WIP: make proto compilation a CI requirement
  .github/workflows/test.yml
Due: none

WIP: implement native API for multiple tx per sequence action
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-proto/proto/astria/sequencer/v1alpha1/transaction.proto
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-types/src/test_utils.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequence.rs
Due: composer, sequencer, sequencer-relayer, common

WIP: update fee-calculation tests
  crates/astria-sequencer/src/sequence.rs
Due: sequencer

WIP: update test cometbft header construction, move it to astria-proto
  crates/astria-proto/Cargo.toml
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-proto/src/native/sequencer/v1alpha1/test_utils.rs
Due: common

WIP: update astria conductor tests
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/data_availability/block_verifier.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

WIP: update sequencer-relayer test and unify by making cometbft test header construction configurable
  crates/astria-proto/src/native/sequencer/v1alpha1/test_utils.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Due: sequencer-relayer, common

WIP: update composer tests
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

WIP: update sequencer tests
  Cargo.lock
  crates/astria-sequencer-types/src/lib.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer, common

WIP: cut down sequencer-types
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-types/Cargo.toml
  crates/astria-sequencer-types/src/cometbft.rs
  crates/astria-sequencer-types/src/lib.rs
  crates/astria-sequencer-types/src/namespace.rs
  crates/astria-sequencer-types/src/serde.rs
  crates/astria-sequencer-types/src/tendermint.rs
  crates/astria-sequencer-types/src/test_utils.rs
Due: conductor, common

fmt toml
  crates/astria-sequencer-relayer/Cargo.toml
Due: sequencer-relayer

clippy
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-proto/src/native/sequencer/v1alpha1/test_utils.rs
Due: common

bundler scaffolding
  crates/astria-composer/src/searcher/bundler.rs
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/mod.rs
Due: composer

changes for conductor
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
Due: conductor

composer changes
  crates/astria-composer/local.env.example
  crates/astria-composer/src/searcher/rollup.rs
Due: composer

format
  crates/astria-composer/src/searcher/rollup.rs
Due: composer

fix incorrect README to regen astria proto types
  crates/astria-proto/README.md
Due: none

apply pedantic clippy to protobuf tools
  tools/protobuf-compiler/src/main.rs
Due: none

run pedantic clippy against protobuf-compiler tool
  .github/workflows/test.yml
Due: none

fix ci step
  .github/workflows/test.yml
Due: none

Change the cli to have some validation of rollup name & get rid of 'chain-id'
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/types.rs
Due: cli

format
  crates/astria-cli/src/commands/rollup.rs
Due: cli

remove buf workspace
  .github/workflows/release.yml
  proto/README.md
  proto/astria/execution/v1alpha1/execution.proto
  proto/astria/execution/v1alpha2/execution.proto
  proto/astria/primitive/v1/types.proto
  proto/astria/sequencer/v1alpha1/account.proto
  proto/astria/sequencer/v1alpha1/asset.proto
  proto/astria/sequencer/v1alpha1/block.proto
  proto/astria/sequencer/v1alpha1/celestia.proto
  proto/astria/sequencer/v1alpha1/data.proto
  proto/astria/sequencer/v1alpha1/merkle.proto
  proto/astria/sequencer/v1alpha1/transaction.proto
  proto/buf.lock
  proto/buf.work.yaml
  proto/buf.yaml
Due: none

chore(ci): move protobuf specs to repository top level (#629)
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  Cargo.toml
  crates/astria-proto/README.md
  crates/astria-proto/buf.work.yaml
  justfile
  proto/README.md
  proto/astria/execution/v1alpha1/execution.proto
  proto/astria/execution/v1alpha2/execution.proto
  proto/astria/primitive/v1/types.proto
  proto/astria/sequencer/v1alpha1/account.proto
  proto/astria/sequencer/v1alpha1/asset.proto
  proto/astria/sequencer/v1alpha1/block.proto
  proto/astria/sequencer/v1alpha1/celestia.proto
  proto/astria/sequencer/v1alpha1/data.proto
  proto/astria/sequencer/v1alpha1/merkle.proto
  proto/astria/sequencer/v1alpha1/transaction.proto
  proto/buf.lock
  proto/buf.yaml
  tools/protobuf-compiler/Cargo.lock
  tools/protobuf-compiler/Cargo.toml
  tools/protobuf-compiler/README.md
  tools/protobuf-compiler/src/main.rs
Due: none

fix CI proto breaking change lint
  .github/workflows/lint.yml
Due: none

correct input dir
  .github/workflows/lint.yml
Due: none

fix(ci): adjust input to proto breaking change linter after refactor (#635)
  .github/workflows/lint.yml
Due: none

Should fail tests
  .github/workflows/lint.yml
  justfile
Due: none

format protos
  proto/astria/execution/v1alpha1/execution.proto
  proto/astria/execution/v1alpha2/execution.proto
  proto/astria/sequencer/v1alpha1/asset.proto
  proto/astria/sequencer/v1alpha1/block.proto
  proto/astria/sequencer/v1alpha1/celestia.proto
  proto/astria/sequencer/v1alpha1/data.proto
  proto/astria/sequencer/v1alpha1/merkle.proto
  proto/astria/sequencer/v1alpha1/transaction.proto
Due: none

readme updates
  README.md
  proto/README.md
Due: none

lets make it less confusing
  crates/astria-composer/local.env.example
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/src/searcher/rollup.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-conductor/src/data_availability/block_verifier.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer/src/app.rs
Due: conductor, composer, sequencer, sequencer-relayer

something that should have been rollup_id
  crates/astria-conductor/src/data_availability/block_verifier.rs
Due: conductor

ci(proto): add proto formatting, cleanup justfile (#637)
  .github/workflows/lint.yml
  README.md
  justfile
  proto/README.md
  proto/astria/execution/v1alpha1/execution.proto
  proto/astria/execution/v1alpha2/execution.proto
  proto/astria/sequencer/v1alpha1/asset.proto
  proto/astria/sequencer/v1alpha1/block.proto
  proto/astria/sequencer/v1alpha1/celestia.proto
  proto/astria/sequencer/v1alpha1/data.proto
  proto/astria/sequencer/v1alpha1/merkle.proto
  proto/astria/sequencer/v1alpha1/transaction.proto
Due: none

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-proto/src/proto/generated/**
  composer: any of: crates/astria-composer, but not: crates/astria-proto/src/proto/generated/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-proto/src/proto/generated/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-proto/src/proto/generated/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-proto/src/proto/generated/**
  celestia-client: any of: crates/astria-celestia-client/**, but not: crates/astria-proto/src/proto/generated/**
  common: any of: crates/astria-proto/src/native/**, crates/astria-sequencer-types/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-proto/src/proto/generated/**
