Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-proto/src/proto/generated/**'

Debug conductor image
  charts/evm-rollup/templates/statefulsets.yaml
Due: none

testing
  charts/evm-rollup/templates/statefulsets.yaml
Due: none

simplify full condition
  crates/astria-composer/src/executor/bundle_factory/mod.rs
Due: composer

set key in bridge
  charts/celestia-local/files/scripts/init-bridge.sh
Due: none

some changes
  charts/celestia-local/files/scripts/init-bridge.sh
  charts/celestia-local/files/scripts/init-celestia-appd.sh
  charts/celestia-local/values.yaml
Due: none

update
  charts/celestia-local/files/scripts/init-bridge.sh
  charts/celestia-local/files/scripts/init-celestia-appd.sh
  charts/celestia-local/files/scripts/start-bridge.sh
Due: none

test
  charts/celestia-local/files/scripts/init-celestia-appd.sh
Due: none

test
  charts/celestia-local/files/scripts/init-bridge.sh
Due: none

update
  charts/celestia-local/files/scripts/init-bridge.sh
Due: none

fixed
  charts/celestia-local/files/scripts/init-celestia-appd.sh
  charts/celestia-local/files/scripts/start-bridge.sh
  charts/celestia-local/values.yaml
Due: none

feat(charts): hermes chart (#950)
  charts/celestia-local/Chart.yaml
  charts/celestia-local/files/scripts/init-celestia-appd.sh
  charts/celestia-local/files/scripts/start-bridge.sh
  charts/celestia-local/files/scripts/start-celestia-appd.sh
  charts/celestia-local/templates/configmap.yaml
  charts/celestia-local/values.yaml
  charts/hermes/.helmignore
  charts/hermes/Chart.yaml
  charts/hermes/files/config.toml
  charts/hermes/templates/_helpers.tpl
  charts/hermes/templates/configmaps.yaml
  charts/hermes/templates/deployment.yaml
  charts/hermes/templates/ingress.yaml
  charts/hermes/templates/secretproviderclass.yaml
  charts/hermes/templates/service.yaml
  charts/hermes/values.yaml
  charts/sequencer/values.yaml
  dev/values/hermes/local.yml
  justfile
  taplo.toml
Due: none

not bytes
  tools/protobuf-compiler/src/main.rs
Due: none

Minimal app/appset configs from argocd-apps
  argocd/README.md
  argocd/apps/rollup-application.yaml
  argocd/apps/sequencer-faucet-application.yaml
  argocd/apps/sequencer-validator-0-application.yaml
  argocd/appsets/rollup-applicationset.yaml
  argocd/appsets/sequencer-faucet-applicationset.yaml
  argocd/appsets/sequencer-validator-0-applicationset.yaml
Due: none

Cleanup markdown
  argocd/README.md
Due: none

update charts (wip) and add buf.lock files
  proto/vendored/celestia_app/buf.lock
  proto/vendored/celestia_core/buf.lock
  proto/vendored/cosmos_sdk/buf.lock
Due: none

further chart changes
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/templates/statefulset.yaml
  charts/sequencer-relayer/values.yaml
Due: none

update charts
  charts/sequencer-relayer/files/scripts/start-relayer.sh
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/values.yaml
Due: none

address comments
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/ibc/host_interface.rs
  crates/astria-sequencer/src/proposal/block_size_constraints.rs
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

Cleanup markdown again
  argocd/README.md
Due: none

more chart updates
  charts/celestia-local/files/scripts/init-celestia-appd.sh
  charts/celestia-local/files/scripts/start-celestia-appd.sh
  charts/sequencer-relayer/values.yaml
Due: none

don't pass txs to pre_execute_transactions
  crates/astria-sequencer/src/app.rs
Due: sequencer

clippy
  crates/astria-sequencer/src/app.rs
Due: sequencer

track nonce refetches per bundle
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/metrics_init.rs
Due: composer

address pr comments
  charts/evm-rollup/values.yaml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/executor/bundle_factory/mod.rs
Due: composer

fix chart version
  charts/evm-rollup/Chart.yaml
Due: none

Add clarifying comments
  argocd/apps/rollup-application.yaml
  argocd/appsets/rollup-applicationset.yaml
  argocd/appsets/sequencer-faucet-applicationset.yaml
  argocd/appsets/sequencer-validator-0-applicationset.yaml
Due: none

Move configs tracking main
  argocd/apps/dev/main/rollup-application.yaml
  argocd/apps/dev/main/sequencer-faucet-application.yaml
  argocd/apps/dev/main/sequencer-validator-0-application.yaml
Due: none

Copy chart-release configs
  argocd/apps/dev/release/hyperlane.yml
  argocd/apps/dev/release/rollup-application.yml
  argocd/apps/dev/release/rollup-archive-application.yml
  argocd/apps/dev/release/sequencer-faucet-application.yml
  argocd/apps/dev/release/sequencer-validator-0-application.yml
  argocd/apps/dev/release/sequencer-validator-1-application.yml
  argocd/apps/dev/release/sequencer-validator-2-application.yml
  argocd/apps/dev/release/sequencer-validator-3-application.yml
Due: none

Forgot to save file
  argocd/appsets/sequencer-validator-0-applicationset.yaml
Due: none

Move appset configs
  argocd/appsets/dev/pr-preview/rollup-applicationset.yaml
  argocd/appsets/dev/pr-preview/sequencer-faucet-applicationset.yaml
  argocd/appsets/dev/pr-preview/sequencer-validator-0-applicationset.yaml
Due: none

fix tests
  crates/astria-composer/src/executor/bundle_factory/tests.rs
Due: composer

buf locks after primitives push
  proto/protocolapis/buf.lock
Due: none

update buf breaking checks
  .github/workflows/lint.yml
Due: none

accidental change rollback
  tools/protobuf-compiler/src/main.rs
Due: none

update generated file without bytes
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
Due: none

address comments
  crates/astria-sequencer/TESTNET.md
  crates/astria-sequencer/src/app.rs
Due: sequencer

fix(sequencer)!: fix state setup to be consistent before transaction execution (#945)
  crates/astria-sequencer/TESTNET.md
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/ibc/host_interface.rs
  crates/astria-sequencer/src/proposal/block_size_constraints.rs
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

updates from merge
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reconstruct.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-core/src/sequencerblock/v1alpha1/tests.rs
Due: conductor
