Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-proto/src/proto/generated/**'

chore(ci): bump cargo chef to 0.1.66
  containerfiles/Dockerfile
Due: none

chore: use celestia crates published to crates.io
  Cargo.lock
  Cargo.toml
  crates/astria-celestia-client/Cargo.toml
Due: celestia-client

chore(composer): logging of rollup ids on startup, and submission
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/executor/mod.rs
Due: composer

format
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/executor/mod.rs
Due: composer

clippy
  crates/astria-composer/src/searcher/executor/mod.rs
Due: composer

sort map in generate_rollup_datas_commitment
  crates/astria-sequencer/src/proposal/commitment.rs
Due: sequencer

taplo format exclusions
  taplo.toml
Due: none

chore(ci): bump cargo chef to 0.1.66 (#805)
  containerfiles/Dockerfile
Due: none

update relayer to use sequencer API to pull blocks
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer/Cargo.toml
Due: sequencer, sequencer-relayer

rework: define blob convesion inside relayer, collect namespaces
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
Due: sequencer-relayer

don't inject all block information the blob submission span, just report in an event at start
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
Due: sequencer-relayer

Clarify panic
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
Due: sequencer-relayer

note on display impl for json, clippy lint
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  crates/astria-telemetry/src/display.rs
Due: sequencer-relayer, common

feat(relayer): report which rollup IDs are submitted to Celestia
  Cargo.lock
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer/write.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/display.rs
Due: sequencer-relayer, common

test smoke test
  .github/workflows/docker-build.yml
  justfile
Due: none

try fix github builds
  .github/workflows/reusable-docker-build.yml
Due: none

smokey test
  .github/workflows/docker-build.yml
  justfile
Due: none

forgot foundry
  .github/workflows/docker-build.yml
  justfile
Due: none

oops fix helm repo
  justfile
Due: none

cleanup
  .github/workflows/docker-build.yml
Due: none

add merge group tags so we can migrate to merge queue
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

fix relayer tests
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

cleanup
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Due: sequencer-relayer

cleanup, clippy
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

clippy
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Due: sequencer-relayer

chore: use Celestia crates published on crates.io (#806)
  Cargo.lock
  Cargo.toml
  crates/astria-celestia-client/Cargo.toml
Due: celestia-client

serialize hex using serde_with
  Cargo.lock
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/display.rs
Due: sequencer-relayer, common

address comments
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
Due: sequencer

feat(relayer): make block to filtered block conversion more flexible (#794)
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/block/tests.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
Due: none

feat(relayer): report information on sequencer block submitted to Celestia (#807)
  Cargo.lock
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/display.rs
Due: sequencer-relayer, common

feat(sequencer)!: include deposit data as part of rollup data (#802)
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/block/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/test_utils.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  proto/sequencerapis/astria/sequencer/v1alpha1/block.proto
Due: sequencer

merge searcher into composer
  crates/astria-composer/src/api.rs
  crates/astria-composer/src/collector.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/rollup.rs
  crates/astria-composer/src/searcher/mod.rs
Due: composer

clean up imports
  crates/astria-composer/src/api.rs
  crates/astria-composer/src/collector.rs
  crates/astria-composer/src/lib.rs
Due: composer

fix dropped joinhandle
  crates/astria-composer/src/composer.rs
Due: composer

add block guard to tests
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

mount bad block in report_degraded_if_block_fetch_fails
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

rename to sequencer_grpc_endpoint
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Due: sequencer-relayer

chore(ci): switch to nextest
  .config/nextest.toml
  .github/workflows/test.yml
Due: none
