Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

clippy
  crates/astria-conductor/src/executor/client.rs
Due: conductor

make unnecessarily mut methods ref
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
Due: conductor

don't report all the returned blocks
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/reporting.rs
Due: conductor

ensure that batch get blocks has no dupes, holes, extra blocks
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/executor/client.rs
Due: conductor

clarifications, comments, removal of commented out code
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
Due: conductor

feat(conductor)!: fetch blocks pending finalization
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/reporting.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/client.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/main.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Due: conductor

bump relayer chart version and exclude vendored protos from CI trigger
  .github/workflows/reusable-run-checker.yml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer/Chart.yaml
Due: none

update chart lockfile
  charts/sequencer/Chart.lock
Due: none

update run_checker
  .github/workflows/release.yml
Due: none

move into core, feature gated for reuse
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/convert.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/brotli.rs
  crates/astria-core/src/lib.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
Due: conductor, sequencer-relayer

lint
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/brotli.rs
  crates/astria-core/src/lib.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
Due: conductor, sequencer-relayer

rollback workflow changes
  .github/workflows/release.yml
Due: none

metric review updates
  crates/astria-sequencer-relayer/src/metrics_init.rs
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
Due: sequencer-relayer

update sequencer chart version
  charts/sequencer/Chart.yaml
Due: none

edit capacity
  crates/astria-core/src/brotli.rs
Due: none

simplify and correct batch-get-blocks contract check
  crates/astria-conductor/src/executor/client.rs
Due: conductor

remove now unused dependency
  Cargo.lock
  crates/astria-conductor/Cargo.toml
Due: conductor

feat(conductor)!: fetch blocks pending finalization (#980)
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/client.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/main.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Due: conductor

several cleanups/nitpicks
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/relayer/celestia_client/builder.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/celestia_keys.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/error.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/mod.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/tests.rs
Due: sequencer-relayer

updated capacity
  crates/astria-core/src/brotli.rs
Due: none

debug log to decrease noise
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
Due: sequencer-relayer

feat(conductor, relayer)!: brotli compress data blobs (#1006)
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/convert.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/brotli.rs
  crates/astria-core/src/lib.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/metrics_init.rs
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
Due: conductor, sequencer-relayer

fix(composer): use tx hash as hex again
  Cargo.lock
  crates/astria-composer/src/executor/mod.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/display.rs
Due: composer, common

lint
  crates/astria-telemetry/Cargo.toml
Due: common

fix(composer): use tx hash as hex again (#1014)
  Cargo.lock
  crates/astria-composer/src/executor/mod.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/display.rs
Due: composer, common

release: sequencer 0.11, conductor 0.14, composer 0.6, relayer 0.12
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer

release: sequencer 0.11, conductor 0.14, composer 0.6, relayer 0.12 (#998)
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer

chore: fix some typos in comments
  crates/astria-build-info/README.md
  crates/astria-composer/src/main.rs
  crates/astria-core/src/primitive/v1/mod.rs
Due: composer

update helm charts
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Due: none

use unwrap_err in tests
  crates/astria-sequencer-relayer/src/config.rs
Due: sequencer-relayer

wrap rollup id filter in newtype
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/relayer/builder.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
Due: sequencer-relayer

update comment in local.env.example
  crates/astria-sequencer-relayer/local.env.example
Due: sequencer-relayer

fix(sequencer): stateful check now ensures balance for total tx
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

nit(sequencer): change unwrap to expect for better future debugging
  crates/astria-sequencer/src/app.rs
Due: sequencer

nit(sequnecer): make name more descriptive
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

fix(sequencer): stateful check now ensures balance for total tx (#1009)
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

rename IncludeRollup constructor and add comment to local.env.example
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
Due: sequencer-relayer

rename env var
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/values.yaml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

store fees for sequence action and bridge
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/component.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/component.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/sequence/component.rs
  crates/astria-sequencer/src/sequence/mod.rs
  crates/astria-sequencer/src/sequence/state_ext.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-proto/src/proto/generated/**
  composer: any of: crates/astria-composer, but not: crates/astria-proto/src/proto/generated/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-proto/src/proto/generated/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-proto/src/proto/generated/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-proto/src/proto/generated/**
  celestia-client: any of: crates/astria-celestia-client/**, but not: crates/astria-proto/src/proto/generated/**
  common: any of: crates/astria-proto/src/native/**, crates/astria-sequencer-types/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-proto/src/proto/generated/**
