Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-proto/src/proto/generated/**'

clippy
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/data_availability/sync.rs
Due: conductor

execution commit level behavior fix
  crates/astria-conductor/src/conductor.rs
Due: conductor

use penumbra ChainStateReadExt wip pr
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/chain_state_read_ext.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

added da block range
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/data_availability/sync.rs
Due: conductor

added da block range to env file, fix block verifier visibility
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/data_availability/block_verifier.rs
Due: conductor

add chain-id to sequencer genesis utils
  crates/astria-sequencer-utils/src/config.rs
  crates/astria-sequencer-utils/src/genesis_parser.rs
  crates/astria-sequencer/justfile
Due: sequencer

handle events properly
  crates/astria-core/src/sequencer/v1alpha1/transaction/mod.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

core: add utility to construct sha256 of protobuf astria types
  crates/astria-core/src/lib.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/mod.rs
  crates/astria-core/src/utils.rs
Due: none

fix event handling
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

fix(sequencer): fix ABCI event handling (#666)
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

add signal handler and graceful shutdown to grpc server
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

address comments
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

fix grpc server starting
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

add log
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

fix(sequencer): clear processed tx count in begin_block (#659)
  crates/astria-sequencer/src/app.rs
Due: sequencer

update penumbra rev
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: sequencer

wait for server to shut down
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

address comments
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

feat(sequencer): add IBC gRPC server to sequencer app (#631)
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

ibc storage wrapper
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/ibc_storage_wrapper.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

start + some fix
  .github/workflows/docker-build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/reusable-docker-build.yml
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

more release branch setup
  .github/workflows/docker-build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-docker-build.yml
  .github/workflows/test.yml
Due: none

add comments
  crates/astria-sequencer/src/app.rs
Due: sequencer

clear new
  crates/astria-sequencer/src/app.rs
Due: sequencer

force run
  .github/workflows/docker-build.yml
Due: none

run on dispatch
  .github/workflows/reusable-docker-build.yml
Due: none

full fix no cache
  .github/workflows/reusable-docker-build.yml
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

some skips
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

Add maximum block size
  crates/astria-sequencer/src/app.rs
Due: sequencer

handle_request
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

use tokio to abort the ABCI server properly
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

change info to error
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

refactor(sequencer): call abort on ABCI server on signal (#670)
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

address elizabeth's comments
  crates/astria-composer/src/searcher/bundler.rs
  crates/astria-composer/src/searcher/executor.rs
Due: composer

feat(sequencer-utils): add `--chain-id` to sequencer genesis utils (#662)
  crates/astria-sequencer-utils/src/config.rs
  crates/astria-sequencer-utils/src/genesis_parser.rs
  crates/astria-sequencer/justfile
Due: sequencer

refactor(api): define abci error codes in protobuf (#647)
  Cargo.lock
  Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/data_availability/block_verifier.rs
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/abci.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-sequencer-types/Cargo.toml
  crates/astria-sequencer-types/src/abci_code.rs
  crates/astria-sequencer-types/src/cometbft.rs
  crates/astria-sequencer-types/src/lib.rs
  crates/astria-sequencer-types/src/tendermint.rs
  crates/astria-sequencer-types/src/test_utils.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  proto/astria/sequencer/v1alpha1/abci.proto
Due: conductor, composer, sequencer, common

clean up comments and rename config var
  crates/astria-composer/local.env.example
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/searcher/bundler.rs
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

fix run steps
  .github/workflows/test.yml
Due: none

add clippy, dylint to just
  justfile
Due: none

also cover shorthand fields
  lint/tracing_debug_field/src/lib.rs
  lint/tracing_debug_field/ui/main.rs
  lint/tracing_debug_field/ui/main.stderr
Due: none
