Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-proto/src/proto/generated/**'

fix mint
  crates/astria-sequencer/src/mint/action.rs
Due: sequencer

add ibc_sudo_address to genesis, only allow IbcRelay from this addres
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/test-genesis-app-state.json
Due: sequencer

Adds prometheus metrics exporter across all services
  Cargo.lock
  Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/searcher/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/main.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/lib.rs
Due: conductor, composer, sequencer, sequencer-relayer, common

update container cargo toml
  containerfiles/Cargo.toml
Due: none

unused import
  crates/astria-sequencer-relayer/src/main.rs
Due: sequencer-relayer

updates
  crates/astria-telemetry/src/lib.rs
Due: common

restructuring
  crates/astria-composer/src/main.rs
  crates/astria-conductor/src/main.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-telemetry/src/lib.rs
Due: conductor, composer, sequencer, sequencer-relayer, common

sequencer relayer metrics update
  crates/astria-composer/src/lib.rs
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/metrics.rs
  crates/astria-sequencer-relayer/src/relayer.rs
Due: composer, sequencer-relayer

clippy
  crates/astria-sequencer-relayer/src/relayer.rs
Due: sequencer-relayer

clippy and format
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/metrics.rs
  crates/astria-sequencer-relayer/src/relayer.rs
Due: sequencer-relayer

use &str, add docstrings, fix doctest
  crates/astria-composer/src/main.rs
  crates/astria-conductor/src/main.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-telemetry/src/lib.rs
Due: conductor, composer, sequencer, sequencer-relayer, common

add example with metrics in client library
  Cargo.lock
  crates/astria-celestia-client/Cargo.toml
  crates/astria-celestia-client/src/client.rs
  crates/astria-celestia-client/src/lib.rs
  crates/astria-celestia-client/src/metrics.rs
Due: celestia-client

format
  crates/astria-celestia-client/src/client.rs
  crates/astria-celestia-client/src/metrics.rs
  crates/astria-sequencer-relayer/src/metrics.rs
Due: sequencer-relayer, celestia-client

fix
  crates/astria-celestia-client/src/metrics.rs
  crates/astria-sequencer-relayer/src/metrics.rs
Due: sequencer-relayer, celestia-client

stop re-exporting metrics
  crates/astria-celestia-client/src/client.rs
  crates/astria-celestia-client/src/metrics.rs
  crates/astria-sequencer-relayer/src/metrics.rs
  crates/astria-sequencer-relayer/src/relayer.rs
Due: sequencer-relayer, celestia-client

clippy
  crates/astria-celestia-client/src/metrics.rs
Due: celestia-client

unused
  crates/astria-celestia-client/src/metrics.rs
Due: celestia-client

clippy
  crates/astria-sequencer-relayer/src/metrics.rs
Due: sequencer-relayer

added mprocs yaml
  crates/astria-conductor/local.env.example
  mprocs.yaml
Due: conductor

cleanup
  crates/astria-telemetry/src/lib.rs
Due: common

doctest
  crates/astria-telemetry/src/lib.rs
Due: common

clippy
  crates/astria-telemetry/src/lib.rs
Due: common

chore: build all binaries, restructure reusable actions
  .github/reusable/build.yml
  .github/reusable/docker-build.yml
  .github/reusable/release-cargo.yml
  .github/reusable/run-checker.yml
  .github/reusable/success.yml
  .github/workflows/admin.yml
  .github/workflows/build.yml
  .github/workflows/docker-build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer

silly github won't allow reusable locals not in workflows directory and MUST be flat structure
  .github/workflows/admin.yml
  .github/workflows/build.yml
  .github/workflows/docker-build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-docker-build.yml
  .github/workflows/reusable-release-cargo.yml
  .github/workflows/reusable-run-checker.yml
  .github/workflows/reusable-success.yml
  .github/workflows/test.yml
Due: none

fix build
  .github/workflows/reusable-build.yml
Due: none

review feedback
  crates/astria-celestia-client/src/client.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/main.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/main.rs
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/lib.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/metrics.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-telemetry/src/lib.rs
Due: conductor, composer, sequencer, sequencer-relayer, celestia-client, common

fix build
  crates/astria-celestia-client/src/lib.rs
  crates/astria-celestia-client/src/metrics_init.rs
  crates/astria-sequencer-relayer/src/metrics_init.rs
Due: sequencer-relayer, celestia-client

fix
  .github/workflows/reusable-build.yml
Due: none

clippy & doctest
  crates/astria-telemetry/src/lib.rs
Due: common

add protoc
  .github/workflows/reusable-build.yml
Due: none

refactor(conductor): use builder to construct celestia reader (#692)
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability/builder.rs
  crates/astria-conductor/src/data_availability/mod.rs
Due: conductor

Remove sync-completed signal
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

refactor(conductor): remove sync-completed signal (#693)
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

split executor channel for celestia, sequencer
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability/builder.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/sync.rs
Due: conductor

refactor(conductor): use separate channels for celestia, sequencer blocks (#694)
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability/builder.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/sync.rs
Due: conductor

clippy
  crates/astria-conductor/src/data_availability/mod.rs
Due: conductor

add telemetry feature to sequencer
  crates/astria-sequencer/Cargo.toml
Due: sequencer

make celestia client a websocket client
  crates/astria-celestia-client/src/client.rs
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/data_availability/builder.rs
  crates/astria-conductor/src/data_availability/mod.rs
Due: conductor, celestia-client

fmt
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/data_availability/mod.rs
Due: conductor
