Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

build(proto): replace buf-generate by tonic_build (#581)
  Cargo.lock
  crates/astria-proto/Cargo.toml
  crates/astria-proto/buf.gen.yaml
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha1.tonic.rs
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha2.rs
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha2.tonic.rs
  crates/astria-proto/src/proto/generated/astria.primitive.v1.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-proto/tests/proto_build.rs
Due: none

set penumbra to 0.63, celestia-node-rs to latest main, tendermint to 0.34, prost/-build to 0.12, tonic/-build to 0.10, msrvs to 1.73 where needed
  Cargo.lock
  Cargo.toml
  crates/astria-celestia-client/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/data_availability.rs
  crates/astria-proto/Cargo.toml
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha2.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-types/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, sequencer, sequencer-relayer, celestia-client, common

bump rust to 1.73 everywhere
  .github/workflows/test.yml
  containerfiles/Dockerfile
Due: none

clippy
  crates/astria-sequencer/src/service/mempool.rs
Due: sequencer

clippy
  crates/astria-test-utils/src/mock/geth.rs
Due: none

run cargo update
  Cargo.lock
Due: none

fixed changes to async
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
Due: sequencer-relayer

regen lock file
  Cargo.lock
Due: none

address comments
  crates/astria-conductor/src/block_verifier.rs
Due: conductor

chore: bump all dependencies (mainly penumbra, celestia, tendermint) (#582)
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  containerfiles/Dockerfile
  crates/astria-celestia-client/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/data_availability.rs
  crates/astria-proto/Cargo.toml
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.execution.v1alpha2.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-types/Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-test-utils/src/mock/geth.rs
Due: conductor, sequencer, sequencer-relayer, celestia-client, common

address comments
  crates/astria-proto/src/native/sequencer/asset.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/mint/action.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/transaction/action_handler.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer, common

fix(conductor): remove proposer check; use correct validator set in commit verification (#589)
  crates/astria-conductor/src/block_verifier.rs
Due: conductor

commit protos
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
Due: none

feat(sequencer): implement support for arbitrary assets (#568)
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-proto/proto/astria/sequencer/v1alpha1/asset.proto
  crates/astria-proto/proto/astria/sequencer/v1alpha1/transaction.proto
  crates/astria-proto/src/native/sequencer/asset.rs
  crates/astria-proto/src/native/sequencer/mod.rs
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer-relayer/tests/blackbox/helper.rs
  crates/astria-sequencer-types/src/test_utils.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/asset/mod.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/mint/action.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/src/transaction/action_handler.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/test-genesis-app-state.json
Due: composer, sequencer, sequencer-relayer, common

fmt toml
  crates/astria-sequencer/Cargo.toml
Due: sequencer

update protos
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-proto/tests/proto_build.rs
Due: none

refactor: enforce sequencer blob invariants
  crates/astria-celestia-client/src/blob_space.rs
  crates/astria-celestia-client/src/client.rs
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
Due: conductor, celestia-client, common

clippy
  crates/astria-celestia-client/src/blob_space.rs
Due: celestia-client

refactor: enforce sequencer blob invariants, simplify conductor (#576)
  crates/astria-celestia-client/src/blob_space.rs
  crates/astria-celestia-client/src/client.rs
  crates/astria-conductor/src/block_verifier.rs
  crates/astria-conductor/src/data_availability.rs
  crates/astria-sequencer-types/src/sequencer_block_data.rs
Due: conductor, celestia-client, common

move data availability to mod.rs
  crates/astria-conductor/src/data_availability/mod.rs
Due: conductor

refactor(conductor): make block verifier a submodule
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability/block_verifier.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/lib.rs
Due: conductor

touch up
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

Adds a transfer command, nonce command, streamlines balance check
  Cargo.lock
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

Update chart version
  crates/astria-cli/src/cli/rollup.rs
Due: cli

use default native asset id for unsigned txes
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

add TODOs for all private keys
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

feat(cli): improve sequencer command set (#543)
  Cargo.lock
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

cleanup
  crates/astria-proto/proto/buf.yaml
Due: none

fix instrument logging
  crates/astria-sequencer/src/app.rs
Due: sequencer

fix(sequencer): fix instrument logging not to log every tx (#595)
  crates/astria-sequencer/src/app.rs
Due: sequencer

cut new release of conductor and sequencer
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, sequencer

chore(conductor, sequencer): release 0.10.1 conductor and 0.6.1 sequencer (#596)
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, sequencer

refactor(conductor): make block verifier a submodule of data availability (#593)
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability/block_verifier.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/lib.rs
Due: conductor

Revert "chore(conductor, sequencer): release 0.10.1 conductor and 0.6.1 sequencer (#596)"
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, sequencer

Revert "chore(conductor, sequencer): release 0.10.1 conductor and 0.6.1 sequencer " (#600)
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, sequencer

cap tx size at 250kb
  crates/astria-sequencer/src/service/mempool.rs
Due: sequencer

small improvement
  crates/astria-sequencer/src/service/mempool.rs
Due: sequencer

migrate sequencer to new chain ID type
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

fix chain ID to contain 32 bytes
  crates/astria-proto/src/native/sequencer/v1alpha1.rs
Due: common

reexport new chain ID in sequencer types
  crates/astria-sequencer-types/src/lib.rs
Due: common

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-proto/src/proto/generated/**
  composer: any of: crates/astria-composer, but not: crates/astria-proto/src/proto/generated/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-proto/src/proto/generated/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-proto/src/proto/generated/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-proto/src/proto/generated/**
  celestia-client: any of: crates/astria-celestia-client/**, but not: crates/astria-proto/src/proto/generated/**
  common: any of: crates/astria-proto/src/native/**, crates/astria-sequencer-types/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-proto/src/proto/generated/**
