Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: celestia
      name: celestia-client
      paths:
        - crates/astria-celestia-client/**
    - component_id: common
      name: common
      paths:
        - crates/astria-proto/src/native/**
        - crates/astria-sequencer-types/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-proto/src/proto/generated/**'

ghcr push permission
  .github/workflows/docker-build.yml
Due: none

chore(ci): CODEOWNERS updates
  CODEOWNERS
Due: none

chore(ci): CODEOWNERS updates (#972)
  CODEOWNERS
Due: none

packages write on reusable
  .github/workflows/reusable-docker-build.yml
Due: none

feat(chart): create hermes chart
  charts/celestia-local/Chart.yaml
  charts/celestia-local/files/scripts/init-celestia-appd.sh
  charts/celestia-local/files/scripts/start-bridge.sh
  charts/celestia-local/files/scripts/start-celestia-appd.sh
  charts/celestia-local/templates/configmap.yaml
  charts/celestia-local/values.yaml
  charts/hermes/.helmignore
  charts/hermes/Chart.yaml
  charts/hermes/files/config.toml
  charts/hermes/templates/_helpers.tpl
  charts/hermes/templates/configmaps.yaml
  charts/hermes/templates/deployment.yaml
  charts/hermes/templates/ingress.yaml
  charts/hermes/templates/secretproviderclass.yaml
  charts/hermes/templates/service.yaml
  charts/hermes/values.yaml
  charts/sequencer/values.yaml
  dev/values/hermes/local.yml
  justfile
  taplo.toml
Due: none

Update reusable-docker-build.yml
  .github/workflows/reusable-docker-build.yml
Due: none

Refactor Docker builds to use Depot for zero emulation builds + persistent cache (#951)
  .github/workflows/docker-build.yml
  .github/workflows/reusable-docker-build.yml
Due: none

remove data_hash from begin_block
  crates/astria-sequencer/src/app.rs
Due: sequencer

deploys
  charts/celestia-local/files/scripts/init-celestia-appd.sh
  charts/hermes/templates/configmaps.yaml
  charts/hermes/templates/deployment.yaml
  charts/hermes/templates/ingress.yaml
  charts/hermes/templates/secretproviderclass.yaml
  charts/hermes/values.yaml
  dev/values/hermes/local.yml
  justfile
Due: none

lint
  charts/hermes/values.yaml
Due: none

format
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer-client/src/extension_trait.rs
Due: composer, common

cleanup
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: none

no codeowners change
  CODEOWNERS
Due: none

cleanup
  crates/astria-sequencer/src/app.rs
Due: sequencer

address comments, add snapshot test
  Cargo.lock
  crates/astria-core/Cargo.toml
  crates/astria-core/src/sequencer/v1/mod.rs
  crates/astria-core/src/sequencer/v1/snapshots/astria_core__sequencer__v1__tests__snapshots.snap
Due: none

readd log
  crates/astria-sequencer/src/app.rs
Due: sequencer

fix
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
Due: none

feat(sequencer): add display for deposits in `end_block` (#864)
  Cargo.lock
  crates/astria-core/Cargo.toml
  crates/astria-core/src/sequencer/v1/asset.rs
  crates/astria-core/src/sequencer/v1/block/mod.rs
  crates/astria-core/src/sequencer/v1/mod.rs
  crates/astria-core/src/sequencer/v1/snapshots/astria_core__sequencer__v1__tests__snapshots.snap
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
Due: sequencer

proto format
  proto/primitives/astria/primitive/v1/types.proto
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/celestia.proto
Due: none

fix tests, use insta snapshot
  Cargo.lock
  crates/astria-core/Cargo.toml
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/snapshots/astria_core__protocol__transaction__v1alpha1__test__signed_transaction_hash.snap
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

clippy
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
Due: cli

feat!: require chain id in transactions
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-cli/src/types.rs
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/abci.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/mod.rs
  dev/values/rollup/dev.yaml
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: composer, sequencer, cli, common

remove duplicate insta dep
  crates/astria-core/Cargo.toml
Due: none

fix clippy issues
  crates/astria-composer/src/executor/mod.rs
Due: composer

implement composer metrics
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/collectors/grpc.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/main.rs
  crates/astria-composer/src/metrics_init.rs
Due: composer

move failure count metrics to the on_retry block
  crates/astria-composer/src/executor/mod.rs
Due: composer

track total bundle submission latency
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/metrics_init.rs
Due: composer

clarified reconstruction re empty block execution, fixed an event message
  crates/astria-conductor/src/celestia/reconstruct.rs
Due: conductor

Add comments to the fields of celestia::RunningReader
  crates/astria-conductor/src/celestia/mod.rs
Due: conductor

feat(conductor): rework fetching Celestia blobs
  Cargo.lock
  crates/astria-celestia-client/src/lib.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/convert.rs
  crates/astria-conductor/src/celestia/fetch.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reconstruct.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/main.rs
  crates/astria-core/src/sequencer/v1/test_utils.rs
  crates/astria-core/src/sequencerblock/v1alpha1/celestia.rs
Due: conductor, celestia-client

drop sequencer blobs with clashing block hashes already in the verify phase, simplify block reconstruction
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reconstruct.rs
  crates/astria-conductor/src/celestia/verify.rs
Due: conductor

verify_and_filter_decoded_blobs -> verify_header_blobs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/verify.rs
Due: conductor

tasks -> reconstruction_tasks
  crates/astria-conductor/src/celestia/mod.rs
Due: conductor

removed namespaces from reconstructed blocks type
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reporting.rs
Due: conductor

lockfile
  Cargo.lock
Due: none

fix(conductor): robust Celestia blob fetch, verify, convert (#946)
  Cargo.lock
  crates/astria-celestia-client/src/lib.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/convert.rs
  crates/astria-conductor/src/celestia/fetch.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reconstruct.rs
  crates/astria-conductor/src/celestia/reporting.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/main.rs
  crates/astria-core/src/sequencer/v1/test_utils.rs
  crates/astria-core/src/sequencerblock/v1alpha1/celestia.rs
Due: conductor, celestia-client

Fix typo
  charts/evm-rollup/templates/configmap.yaml
Due: none

Create dir if not existing
  charts/evm-rollup/files/scripts/init-geth.sh
Due: none

bytes
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  tools/protobuf-compiler/src/main.rs
Due: none
