Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, celestia-client, common

bundling logic added to executor
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/searcher/bundler.rs
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

address comments
  Cargo.lock
  crates/astria-proto/Cargo.toml
  crates/astria-proto/src/native/sequencer/ics20_withdrawal.rs
  crates/astria-proto/src/native/sequencer/v1alpha1/mod.rs
  crates/astria-sequencer/src/accounts/ics20_withdrawal.rs
Due: sequencer, common

address comments
  crates/astria-proto/src/native/sequencer/ics20_withdrawal.rs
  crates/astria-sequencer/src/accounts/ics20_withdrawal.rs
  proto/astria/sequencer/v1alpha1/transaction.proto
Due: sequencer, common

update timeout_time comment
  crates/astria-proto/src/native/sequencer/ics20_withdrawal.rs
  proto/astria/sequencer/v1alpha1/transaction.proto
Due: common

update proto
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
Due: none

feat(sequencer): implement ICS20 withdrawals (#609)
  Cargo.lock
  Cargo.toml
  crates/astria-proto/Cargo.toml
  crates/astria-proto/src/native/sequencer/asset.rs
  crates/astria-proto/src/native/sequencer/ics20_withdrawal.rs
  crates/astria-proto/src/native/sequencer/mod.rs
  crates/astria-proto/src/native/sequencer/v1alpha1/mod.rs
  crates/astria-proto/src/proto/generated/astria.sequencer.v1alpha1.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/ics20_withdrawal.rs
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/astria/sequencer/v1alpha1/transaction.proto
Due: sequencer, common

previous tests pass
  crates/astria-composer/local.env.example
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

updates to search for celestia block that contains the first firm commit
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/data_availability/sync.rs
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

full bundle test works
  crates/astria-composer/src/searcher/executor.rs
Due: composer

add full bundle test and fix logging
  crates/astria-composer/src/searcher/executor.rs
Due: composer

add block time and two seq actions tests
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/tests/blackbox/composer.rs
Due: composer

fix chain_id to rollup_id
  crates/astria-composer/src/searcher/collector.rs
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/src/searcher/mod.rs
Due: composer

fix fmt
  crates/astria-composer/src/searcher/executor.rs
Due: composer

clippy fixes
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

clean up test waiter
  crates/astria-composer/src/searcher/executor.rs
Due: composer

wip state ext
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

bump penumbra deps, remove AppHash
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/ics20_transfer.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/app_hash.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/component.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/abci_query_router.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/src/transaction/action_handler.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

clean up bundle logic from executor body
  crates/astria-composer/src/searcher/executor.rs
Due: composer

fix merge
  crates/astria-sequencer/Cargo.toml
Due: sequencer

refactor: don't deny unknown config fields
  crates/astria-composer/src/config.rs
  crates/astria-conductor/src/config.rs
  crates/astria-config/src/lib.rs
  crates/astria-config/src/tests.rs
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer/src/config.rs
Due: conductor, composer, sequencer, sequencer-relayer

make cnidarium dep non-workspace
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: sequencer

chore(sequencer)!: bump penumbra deps, remove `AppHash` (#655)
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/ics20_transfer.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/app_hash.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/component.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/abci_query_router.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/src/transaction/action_handler.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

refactor(api): break up overlong module
  crates/astria-celestia-client/src/client.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-conductor/src/data_availability/block_verifier.rs
  crates/astria-core/src/sequencer/ics20_withdrawal.rs
  crates/astria-core/src/sequencer/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/account.rs
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-core/src/sequencer/v1alpha1/celestia.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/test_utils.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/ics20_withdrawal.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/mint/action.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: conductor, composer, sequencer, cli, celestia-client, common

fix broken conditional compilation
  crates/astria-sequencer/src/app.rs
Due: sequencer

refactor(api): break up sequencer v1alpha1 module (#646)
  crates/astria-celestia-client/src/client.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-conductor/src/data_availability/block_verifier.rs
  crates/astria-core/src/sequencer/ics20_withdrawal.rs
  crates/astria-core/src/sequencer/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/account.rs
  crates/astria-core/src/sequencer/v1alpha1/asset.rs
  crates/astria-core/src/sequencer/v1alpha1/block.rs
  crates/astria-core/src/sequencer/v1alpha1/celestia.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-core/src/sequencer/v1alpha1/test_utils.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/action.rs
  crates/astria-core/src/sequencer/v1alpha1/transaction/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/ics20_withdrawal.rs
  crates/astria-sequencer/src/app.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/mint/action.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequence.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: conductor, composer, sequencer, cli, celestia-client, common

refactor: don't deny unknown config fields (#657)
  crates/astria-composer/src/config.rs
  crates/astria-conductor/src/config.rs
  crates/astria-config/src/lib.rs
  crates/astria-config/src/tests.rs
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer/src/config.rs
Due: conductor, composer, sequencer, sequencer-relayer

refactor: re-define abci in terms of proto
  Cargo.lock
  Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/data_availability/block_verifier.rs
  crates/astria-core/src/generated/astria.sequencer.v1alpha1.rs
  crates/astria-core/src/sequencer/v1alpha1/abci.rs
  crates/astria-core/src/sequencer/v1alpha1/mod.rs
  crates/astria-sequencer-types/Cargo.toml
  crates/astria-sequencer-types/src/abci_code.rs
  crates/astria-sequencer-types/src/cometbft.rs
  crates/astria-sequencer-types/src/lib.rs
  crates/astria-sequencer-types/src/tendermint.rs
  crates/astria-sequencer-types/src/test_utils.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  proto/astria/sequencer/v1alpha1/abci.proto
Due: conductor, composer, sequencer, common

release with upgraded chart
  Cargo.lock
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/cli/rollup.rs
Due: cli

use ubuntu 20.04 buildjet
  .github/workflows/build.yml
Due: none

rust version
  .github/workflows/build.yml
  crates/astria-cli/Cargo.toml
Due: cli

format
  .github/workflows/build.yml
Due: none

chore(cli): new release with new chart version (#658)
  .github/workflows/build.yml
  Cargo.lock
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/cli/rollup.rs
Due: cli

working da sync
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/data_availability/sync.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/sync.rs
Due: conductor

clear processed tx count in begin_block
  crates/astria-sequencer/src/app.rs
Due: sequencer

clear processed tx count in begin_block
  Cargo.lock
  crates/astria-sequencer/src/app.rs
Due: sequencer

initialize and use ibc component
  crates/astria-sequencer/src/app.rs
Due: sequencer

use queue for finished bundles
  crates/astria-composer/local.env.example
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/searcher/bundler.rs
  crates/astria-composer/src/searcher/executor.rs
  crates/astria-composer/src/searcher/mod.rs
  crates/astria-composer/tests/blackbox/composer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

cleanup
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/data_availability/mod.rs
  crates/astria-conductor/src/data_availability/sync.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-proto/src/proto/generated/**
  composer: any of: crates/astria-composer, but not: crates/astria-proto/src/proto/generated/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-proto/src/proto/generated/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-proto/src/proto/generated/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-proto/src/proto/generated/**
  celestia-client: any of: crates/astria-celestia-client/**, but not: crates/astria-proto/src/proto/generated/**
  common: any of: crates/astria-proto/src/native/**, crates/astria-sequencer-types/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-proto/src/proto/generated/**
